[2017-01-22 06:50] hammad13060 opened #8 "syntax for array access and slicing"
@jonasfj -> I am thinking of this kind of syntax

[code]

[2017-01-22 08:32] jonasfj commented on #8
Why `$key` ?

Also why paranthesis instead of brackets... ie `a: '${key[0]}'`.
Both: javascript, java, c/c++, c#, rust, python, golang, and many more uses breakets `[]` of array access, so that's probably the expected syntax.

[2017-01-22 08:37] jonasfj opened #10 "TODO: propose syntax for $merge, $mergeDeep, $flatten, $flattenDeep, $concat/$join"
I'm thinking `{$merge: [{a: 1, b: 1}, {b: 2}]} = {a: 1, b: 2}`, ie. right side overwrites.
$mergeDeep is the same except it does it recursively to all objects.

`{$flatten: [[1,2], [3,4], [5]]} = [1,2,3,4,5]`

Maybe we don't need $concat/$join once we have $flatten, or the other way around... Something to think about.

[2017-01-22 08:43] hammad13060 commented on #8
I think we are sticking with safeEval for expression evaluation, it supports bracket syntax for index access, but it doesn't support slicing like this ```[begin:end]```, so I thought we can have ```$key``` syntax, which if supplied one arguments means array access or if supplied two args means slicing.

[2017-01-22 08:52] jonasfj commented on #8
Oh, I think we should aim to write a custom language for this.... To ensure
security. Also it's super fun :)
Maybe we don't use pegjs as pegs can be slow... I'm guessing we could write
a letter in regex, that is easily ported, then read up one how to write
hand written parsers... Hopefully a recursive parser will do, which also
would be easy to port between JS and Python...

Just like JS/c/c++/Jav

[2017-01-22 09:08] hammad13060 commented on #10
Yes these constructs look like a great idea. Probably we can add more lodash features in future.

[2017-01-22 19:59] jonasfj commented on #10
Yeah, who knows, `$pick`, `$omit`, `$pairs` could also be useful... but we can probably do without those for a long time. Notably I want to extend objects and to extend lists, merge/flatten will let us to do that.

[2017-01-22 20:12] jonasfj opened #11 "question: rename $dumps -> $json"
I just realized that `dumps` might only be obvious to python users. And even then they only know it as `json.dumps`.

Should we consider renaming the construct `{$json: ...}` or `{$stringify: ...}`, any other ideas?

[2017-01-22 20:16] hammad13060 commented on #11
How about ```$toString```, although I also like ```$stringify```.

[2017-01-22 20:26] jonasfj commented on #11
Hmm, $toString might also work.. although a string does become double
wrapped...
IE `{$toString: 'test'} = '"test"'` which is unexpected for a toString on a
string...

Note: the idea is that the result string can be parsed as JSON... It's
currently called dumps because it allows you to dump an object structure
into a string... For example dumping an object structure into and
environment variable f

[2017-01-22 20:56] hammad13060 commented on #11
From what I understand about ```$dumps``` it simply evaluates an expression, convert it to a string and assign it to the appropriate key. It is evident [here](https://github.com/taskcluster/json-e/blob/master/specification.yml#L43) and [here](https://github.com/taskcluster/json-e/blob/master/specification.yml#L255).

[2017-01-22 20:56] hammad13060 commented on #11
No double wrapping of string takes place.

[2017-01-22 20:58] hammad13060 commented on #11
Probably we will be able to prevent such double wrapping in code.

[2017-01-22 21:31] jonasfj commented on #11
I see double wrapping as intended behavior... I know storing a JSON string inside a property in JSON is bad... Example:
[code]
In this case both `DATA` and `DATA2` can be fed to `JSON.parse()` and they will return a JSON value.

---
Note: in `{$dumps: ...}` the `...` is a json-e expression, **not** an expression from our embedded expression based language.

[2017-01-22 21:32] jonasfj commented on #11
Yes, JSON strings inside strings in another JSON object as above isn't pretty. But sometimes it's useful.. For example if `DATA` defines an environment variable...

[2017-01-23 07:46] jonasfj opened #13 "Play with Pratt Parsers"
I was looking for how to easily implement the same parser in multiple languages... Peg.js isn't a good fit for portability. Nor is it super simple.

For expressions we should probably look at:
http://journal.stuffwithstuff.com/2011/03/19/pratt-parsers-expression-parsing-made-easy/

I couldn't stop myself from playing with a lever today... This might be the way to write a simple parser and ensure c

[2017-01-23 16:43] djmitche commented on #11
+1 for `{$json: ..}`.

The double-quoting is, indeed, a feature.  It would be inconsistent for `{$json: x}` to evaluate to `abc` if x is `"abc"`, but to `{"abc": def"}` if x is an object -- one of those can be parsed as JSON, and the other cannot.

[2017-01-23 18:59] jonasfj commented on #11
Any other changes you could imagine? I would like to lock the minimal
section as I'm planning to use it in actions.json

Den 23. jan. 2017 8.43 AM skrev "Dustin J. Mitchell" <
notifications@github.com>:

[2017-01-23 19:08] djmitche commented on #11
Nothing in `specification.yml` stands out to me, aside from `$dumps`

[2017-01-23 19:28] hammad13060 commented on #13
Just went through the post. This looks very promising.

[2017-01-23 19:29] #8 closed

[2017-01-23 19:59] jonasfj commented on #13
@hammad13060, yeah, it's looks super simple.
In fact I'm surprised it haven't been raised to a higher level API.
I haven't done it yet, but I think it's possible to construct a `PrattParser` class such that a parser is defined as follows: https://gist.github.com/jonasfj/f0956e1035824c6ebe02182038f161ec

It might even be possible to reference other parsers in order to have multiple rules... Like in

[2017-01-24 03:52] jonasfj commented on #13
nah, forgot the gist above, we can't make it that elegant... Not if we wish to support repeatition, for expression like lists... But I still think a pratt parser is the way to go :)

[2017-01-24 15:59] #11 closed

[2017-01-24 16:12] hammad13060 commented on #13
@jonasfj do you have any specific design in mind for this. I feel we should start working on the expression language.

[2017-01-24 16:22] jonasfj commented on #13
I agree we should start working on it... I had a design, but after playing with it I found that it definitely wouldn't work. So by all means feel free to start working on it.

Ideally, we write it in such a way that it's easy to write the same code in python. I suspect we should implement it in both language, to make sure that it's possible...

[2017-01-24 17:33] jonasfj commented on #13
@hammad13060, The only useful thing I got working was tokenizer using regular expressions:
https://gist.github.com/jonasfj/3d0e26c028f6cdcfed06c06b1f7ab9ce

By listing all tokens in an array the array index can be id of the token. Hence, we don't need to use a mapping from to rules, but can just use an array... As all tokens have an integer identifier :)

I also suspect that precedence can be expr

[2017-01-28 11:01] hammad13060 commented on #13
Hey @jonasfj sorry for replying late

Tokeniser looks good. I think we can implement rules using parselets [this](https://gist.github.com/hammad13060/f3f4c039d9de315ac1f8bb840ac5e204) way.

[2017-01-28 11:02] hammad13060 commented on #13
Note that above is not a complete implementation but just gives an idea of how we can proceed.

[2017-01-28 11:03] hammad13060 commented on #13
Have a look at code from [this line](https://gist.github.com/hammad13060/f3f4c039d9de315ac1f8bb840ac5e204#file-parselet-support-js-L92) onwards

[2017-01-28 23:22] jonasfj commented on #13
@hammad13060,
That looks like a step in the right direction. I cleanup the design a little:
https://gist.github.com/jonasfj/72343f42146d1b4a704612c63b3e5fb1
I'm not sure if we can infer the precendence level and wrap it into the `ctx` object, or if we need the rule writer to always specify it... Either way, this is pretty much what you outlined but with some nicer API.

From looking at it, I think

[2017-01-29 21:01] jonasfj commented on #13
Forget I said we can infer precedence level, we'll have to pass it as an argument..
But we can pass a string, and then have a mapping from string to precedecene level.
In fact we don't need to specify the precedence level as int there either, if it's a list...
Example:
https://gist.github.com/jonasfj/72343f42146d1b4a704612c63b3e5fb1

Ps. This resource was helpful in understanding the pratt parsers

[2017-01-30 02:05] jonasfj commented on #13
Played a bit more with the setup:
https://gist.github.com/jonasfj/389ad807923684f2bdbda788bd379de7

I think we can finish this up with better error messages, and more asserts :)
Then land it... Porting to python shouldn't be too hard.

[2017-01-31 12:21] hammad13060 commented on #13
Just went through the code it looks great. However I think we should slightly tweak the rules so that evaluation becomes easier.

```Currently rules look like this```

[code]

```This is what I suggest```

[code]

If we will specify the rules this way we can easily write a recursive evaluator which evaluates rules first by classifying object as infix or prefix and then doing necessary evaluation.

[2017-01-31 13:53] hammad13060 commented on #13
I am assuming you will provide me with a parse tree and we can then use an evaluator like [this](https://gist.github.com/hammad13060/3330cf322fd2bf49266b223df773a3da) for evaluation.
P.S. I have not tested this code. Consider it like pseudo code.

[2017-01-31 15:37] jonasfj commented on #13
Hehe, very little of the code here have been tested much :)

But we don't need a parse tree... The rules I posted just created one so
that it was easy to see if it was parsing precedence correctly :)
We can change to rules to do one-fly-evaluation, see the rules that I
commented out, they pretty much do that...

If you have time I guess now is a good time to start to glue all of this
together and

[2017-01-31 15:53] hammad13060 commented on #13
Ya sure I'll tie up the code together. I am thinking that we can maintain it as a separate library. What would you like to name it.

[2017-01-31 15:56] jonasfj commented on #13
I think we should just keep it all in one module to get started... Also if
we want Python port it might be smart not to split it out, as that makes
compatibility hard to do...

If the Pratt parser changes under us, it's hard to do compatibility...
Besides the source isn't that big...

Den 31. jan. 2017 7.53 AM skrev "Hammad Akhtar" <notifications@github.com>:

[2017-01-31 15:59] hammad13060 commented on #13
Ya sure I can do that 👍

[2017-02-01 11:18] hammad13060 commented on #13
Hi @jonasfj
1. I have included the pratt-parser to the json-e project [here](https://github.com/hammad13060/json-e/tree/pratt-parser/src/parser)
2. [Here](https://github.com/hammad13060/json-e/blob/pratt-parser/test/tests.js#L24) you will find some successful tests for pratt-parser
3. [Here](https://github.com/hammad13060/json-e/blob/pratt-parser/src/parser/configs.js#L94) I have added some new ru

[2017-02-01 19:16] jonasfj commented on #13
@hammad13060, that's looks really good...
I propose filing it into this repository..
directory layout something like:
[code]

Note: I propose we rename `config.js` to `interpreter.js` and have to look like:
[code]

Because `new PrattParser(config)` is technically an interpreter... We don't really create a abstract syntax tree :)
We evaluate the expression as we're parsing it, so it's actually an _

[2017-02-01 19:47] hammad13060 commented on #13
Will be able to do it by tomorrow. Got to go.

On Thu, Feb 2, 2017 at 12:46 AM, Jonas Finnemann Jensen <
notifications@github.com> wrote:

[2017-02-06 11:51] hammad13060 opened #19 "Allow support for stuff like ${myfunction({'key': 23})}"
We probably should support ${myfunction({'key': 23})}, but this won't because the regex will match: ```${myfunction({'key': 23}```

[2017-02-07 17:44] jonasfj opened #21 "Escape sequences for strings in expressions"
Let's say I have an expression: `{$eval: " 'ab' "}` with more spacing.

What kind of escape sequences should we support.

Given that json-e is usually written as JSON or YAML.
We might not need a lot of escape sequences, example: `{"$eval": " 'a\nb' "}`, should already work, because when you parse it as JSON/YAML `\n` gets interpreted...

So in order to make a string that contains ", I would have

[2017-02-10 14:14] djmitche commented on #21
Let's reserve all `\<char>` sequences, making everything but `\"` an error for now, since it seems to be the only absolutely required escape.  That is a simple choice now, with room to expand.

[2017-02-10 15:54] hammad13060 commented on #21
@jonasfj Just to clarify, we are trying to achieve strings with escape sequences in our expression language ?

I think ```{"$eval": " \"a\\\"b\" "}``` will raise unexpected end of input error right now. Can you elaborate on this a bit more :)

[2017-02-13 20:07] hammad13060 opened #28 "TODO: raise error when performing 'number + string'"
we should handle cases and raise error where user might try to something like ```"hello " + 5```

[2017-02-15 00:18] jonasfj opened #30 "Define standard library (a base context with functions)"
@hammad13060,

I'm thinking that `json-e` should have some standard library... Well, a set of functions that a built-in.
What do you think?

My thinking is things like:
 * `sqrt(x)` for square root
 * `min/max(a,b)`
 * `str(x)` for converting to string
 * `uppercase(x)`
 * `lowercase(x)`
 * `abs(c)` absolute value
 * `hex(x)` to hexa decimal encoding
 * `floor/ceil(x)`
 * `len(x)` length of x
 * `

[2017-02-15 00:19] jonasfj opened #31 "Slicing should work for both arrays and strings"
`([1,2,3])[1:-1]` is cool, why can we do it for strings too: `"hello world"[5:-1]` seems we'll want to have that right?

[2017-02-15 00:25] jonasfj commented on #30
Note:
 * I have no idea how many functions we want built-in
 * Which functions is too much
 * Which functions we might be missing

Another option is to say that strings have some properties like: `"hello".length()`, `"hello".uppercase()`
`"hello".lowercase()` and similarly, numbers have some properties like `4.toString()` and arrays have `[1,2,3].length()`... That might be better as those names wo

[2017-02-15 07:43] hammad13060 commented on #31
Agreed

[2017-02-15 08:23] hammad13060 commented on #30
I like the idea of having builtin helper methods 👍
I'll rather go with the first approach because It is highly unlikely that someone will chose ```toLower``` or ```toUpper``` as property name. Along with that we will mention the built-in methods in the docs so that users of the library will choose the names accordingly. We can have methods in separate namespace if you want, lets say namespace be `

[2017-02-15 23:23] jonasfj commented on #30
it depends how many built-in methods we add...
Also I suspect that people who uses json-e will inject some custom built-in methods into the context...

So it might be best to add built-ins as properties on values instead of built-in functions in the context.
If we add built-in as default functions in the context, then downstream context might overwrite us... Hmm... I guess that won't break compati

[2017-02-16 10:07] hammad13060 commented on #30
Hmm okay 👍
but what about built in functions like min, max which cannot be expressed as properties of values ?

[2017-02-16 10:18] #31 closed

[2017-02-16 10:19] #28 closed

[2017-02-16 20:53] jonasfj commented on #30
That's a good point, similarly we can't have `{key: 1}.keys()` because this `{keys: 1}.keys()` would be weird :)

Hmm... maybe the first question is how many built-in functions do we want?

 * upper/lower case for strings
 * toString for numbers
 * length of array and string
 * keys of a dictionary

I could also imagine:
 * array.map and array.filter, if we add support for function expressions (so

[2017-02-16 20:56] jonasfj commented on #21
The text `{"$eval": " \"a\\\"b\" "}` must be escaped for entry in JS, then parsing returns:

Notice that `\\` in  a node.js string is actually the codepoint `\`

[2017-02-17 11:54] hammad13060 commented on #30
I propose few [here](https://gist.github.com/hammad13060/1379f995178e7f3967599c5b492ea2ac) to start with. Feel free to propose more :)

[2017-02-20 04:47] jonasfj commented on #30
Added a few comments here:
https://gist.github.com/jonasfj/68fa49a3f8a1e6a86d02995a98822827

Hmm, we probably want an option to do `[1,3,4].contains(3)` or maybe we should implement the `in` operator from python... Like `3 in [1,3,4,6]`... I'll file separately.

[2017-02-20 04:48] jonasfj opened #33 "Implement the in-operator from python"
We should implement the `in` operator from python... Like `3 in [1,3,4,6]`.
It's a very common thing to test for, and it's one less function we need in our standard library.

[2017-02-20 04:50] jonasfj commented on #30
For the record I shift between either:
A) wanting to implement a huge standard library to allow as much power as possible,
B) wanting to keep the standard library as small as possible, and suggest that people write their own and inject it via the `context`.

Hmm, what to do?

[2017-02-20 07:11] #19 closed

[2017-02-20 08:47] hammad13060 commented on #30
I will  choose ```A```
  - things may get tricky on our side and we may pollute the context, but then user can confidently use functions like ```min```, ```max```, ```toString```, ```toLower``` etc, without worrying about their implementation and users can still implement their own functions by injecting them in context.

I think if we can go for ```B``` then going for ```A``` isn't a long leap fo

[2017-02-20 11:37] hammad13060 opened #35 "Operator for exponentiation"
I suggest that we use ```**``` as exponentiation operator @jonasfj .

[2017-02-20 22:46] jonasfj commented on #35
I agree that's a nice operator to add. One less thing we have to do in the standard library.

[2017-02-20 23:21] jonasfj commented on #30
Good point, let's get some input from @imbstack and @djmitche.

[2017-02-21 17:51] djmitche commented on #30
I think we should start with a minimal product, and put it to use.  We will likely get a much more authentic picture of what features we really need at that point.  So I go for "B".

[2017-02-21 18:06] jonasfj commented on #30
If we inject the standard library using `context = _.defaults({}, context,
builtinFunctions)`, then `context` entries will overwrite
`builtinFunctions`, and if we were to add additional builtin functions in
the future that wouldn't cause compatibility issues.
So I think that's a fair argument.

--
Regards Jonas Finnemann Jensen.

2017-02-21 9:51 GMT-08:00 Dustin J. Mitchell <notifications@github.c

[2017-02-21 20:10] hammad13060 commented on #30
Idea of generating context in this ```context = _.defaults({}, context, builtinFunctions)``` manner looks nice. Okay lets add few builtin's and start using the library :)

[2017-02-22 20:46] jonasfj opened #38 "Demo website for json-e"
We should make a github pages site that looks this:

![https://img42.com/0b78N](https://cdn.img42.com/74ea5a4dc0e90396733473cc23fa14a3.png)

With a live "try it" editor... that way we can easily test bugs etc...

[2017-02-23 03:49] hammad13060 commented on #38
Seems like a good Idea. I don't have much idea about front end development, so can you give some pointers on how to start ? Do we have some ```jekyll``` templates which server our purpose ?

[2017-02-23 03:59] #35 closed

[2017-02-23 03:59] #33 closed

[2017-02-23 06:36] jonasfj commented on #38
I figure we can built it with neutrino or something... So we get everything
bundled into a single js file...

We'll probably have to do it a subfolder...As it'll need it's own
package.json... Hmm maybe not sure how we structure it.. maybe devDeps will
do...

Ping me on IRC... Eli is sure to have some ideas for how we can quickly
hack this together... IMO we want it to be super easy to update, so w

[2017-02-27 23:49] jonasfj commented on #38
@hammad13060 Hi, sorry I missed on you on IRC.
Thinking about we can probably just use http://browserify.org/ to compile all the files into a single bundle that we can load into an HTML... then we don't need anything complicated.

You add `browserify` and `codemirror`, `jquery`, etc... as `devDependencies` in `package.json`.
Then create files `demo.js` and `index.html`, in `demo.js` we just write

[2017-03-01 13:40] hammad13060 commented on #38
Hmm..this looks good :)

Just few clarifications
1. first we will build josn-e using ```npm run compile```
2. then we will include ```lib/index.js``` to out ```demo.js```
3. then we will run ```npm run build-demo```
4. now we are good to go
am I right ?

What directory structure should we follow for website ?

[2017-03-01 17:15] hammad13060 commented on #38
Hi @jonasfj I ran into following issue

I did following steps
1. ```npm install browserify -g```
2. ```npm install codemirror --save-dev```

Now my ```demo.js``` looks like this

[code]
Finally I transpile ```demo.js``` to ```budnle.js``` using ```browserify demo.js -o bundle.js```

**Note:** I have an index.html containing ```div``` element with id ```try-it-template```.

But editor is not render

[2017-03-03 00:49] jonasfj commented on #38
You can make `browserify` a devdep too... command specified in `scripts` section of `package.json` runs with `./node_module/.bin/` in `PATH`.

yeah, you'll likely also need to include some stylesheets... I guess we could have a command that copies the relevant stylesheets from `./node_modules/codemirror/...` into the `demo/` folder or something.

[2017-03-03 00:50] jonasfj commented on #38
Note. `let jsone = require('./lib')` should also just work (TM) with browserify. As long as run `npm run compile` first.

[2017-03-07 18:11] hammad13060 opened #39 "Making json-e asynchronous"
@jonasfj
Inspired by the fact we may define some functions in context which may do some async work like file I/O, DB access etc.

[2017-03-21 15:31] djmitche opened #40 "Include a rationale for this language over others in the README"

[2017-03-21 15:34] djmitche commented on #39
I think we should explicitly disallow this sort of thing -- having filesystem or network access from JSON-E sounds dangerous to me!

[2017-03-21 15:50] djmitche commented on #13
What needs to happen here?

[2017-03-21 18:35] jonasfj commented on #13
this is done...

[2017-03-21 18:35] #13 closed

[2017-03-27 19:44] djmitche commented on #40
#41 fixes this.

[2017-03-27 19:44] #40 closed

[2017-05-08 13:59] TheNavigat commented on #21
I don't understand why do we need to consider escape sequences.

Entered string data should be escaped.  I don't understand what do we need to escape.

If you're saying that entered data will be parsed as they're read by json-e, and we simply need to "unparse" it to be able to output the data, why don't we use something like html_special_chars in PHP? Why do we need to consider different escape se

[2017-05-08 16:33] jonasfj commented on #21
We parse the expression given in `{"$eval": "expr"}` after JSON parsing is done... So yes, we don't really need it...

[2017-05-08 16:37] djmitche commented on #21
ok! :)

[2017-05-08 16:37] #21 closed

[2017-05-09 17:08] djmitche commented on #39
i agree with myself -- JSON-e should not be doing anything that might require FS access.

[2017-05-09 17:08] #39 closed

[2017-05-09 17:11] djmitche commented on #30
It looks like this is implemented now, in #37.

[2017-05-09 17:11] #30 closed

[2017-05-09 17:11] djmitche opened #44 "Add tests for some corner cases"
I'll be making a list here as I think of them..

[2017-05-09 17:49] djmitche opened #45 "Need `exists` syntax in expression language"
We may want to conditionalize something on the presence of an object property, or on the presence of a property in the context.

Depending on how we handle missing object properties, the latter might be easy.  But for context properties, we will need a function.  Perhaps `exists(abc)` and `exists(abc.def)`, where both would fail if there is no `abc` in the context, and the latter would fail if `ab

[2017-05-09 19:26] djmitche opened #46 "Make `fromNow` a built-in function, instead of an operator"
Replace `{$fromNow: '1 second'}` with `{$eval: 'fromNow("1 second")'}`.

[2017-05-09 20:05] djmitche commented on #45
Ah, I see we have `"foo" in bar` in the expression language, so that handles everything but the existence of an identifier in the context itself.

[2017-05-09 20:09] djmitche opened #47 "Need object literal support in expression language"
So we can do something like `{$eval: "{a: x+10, b: x+20}"}`.

@jonasfj I'm not totally convinced we need this.  The above example could be written `{a: {$eval: "x+10"}, b: {$eval: "x+20"}}`.  Is this *never* necessary?

[2017-05-09 20:24] djmitche opened #48 "Add `$let`"
It would be really convenient to write
[code]
This doesn't introduce any potential for looping or recursion, but it does make the context handling a little more complicated since within the `in` there are additional "variables" available that are not in the global context.

Note that the let variables are not ordered, so the cannot depend on one another (that is, `foo: "ts + 10"` would not work).

[2017-05-09 20:29] djmitche commented on #44
Ah, I see now that some of this is tested in `test/expression-language.yml`.  That should be moved into `./specification.yml`.

[2017-05-09 20:36] jonasfj commented on #47
I don't think it's _necessary_, but it might be super convenient in many cases.

For example passing an object to a function as arguments:
[code]
with a context like:
[code]
You can do this using the `$let` construct, but it'll be super clumsy and hard to read.

Inline objects are useful for passing arguments, and many other things...

[2017-05-09 20:37] jonasfj commented on #46
One could argue that this is so useful that we should have both?

Regardless I don't object to this change...

[2017-05-09 20:39] jonasfj commented on #45
I propose that we don't handle that... If people really want an exists function they can add their own.

Or we can force the global context to have a self-reference `global`, how about that?

[2017-05-09 21:26] djmitche commented on #45
I think it's probably fair to omit this - ideally the list of context top-level properties would be fixed, even if you're dealing with arbitrary data.  For example, tc-github would put the webhook body in `body` or something, not pass the whole thing as context.

[2017-05-09 21:26] #45 closed

[2017-05-10 14:09] djmitche opened #50 "Use YAML in the demo site"
Per #43 - let's use YAML inputs in the demo site instead of eval'ing strings.

[2017-05-10 14:10] djmitche opened #51 "Use codemirror to edit examples in demo site"
Per #43.  Codemirror is the editor we use in https://tools.taskcluster.net/task-creator/ for example

[2017-05-10 14:13] djmitche commented on #38
The remaining bit here is, I think, to include some examples in the view -- maybe it makes sense for this to be the documentation, with "live" examples?  We also need to link this from the README.

[2017-05-10 14:14] djmitche opened #52 "Allow linking to the demo site with specific template, context"
It should be possible to create a link to a demo page so that we can demonstrate a particular concept (or bug).  Something like https://json-e.github.io/try-it.html?context={..}&template={..}

[2017-05-10 14:15] djmitche commented on #52
(This is from #43)

[2017-05-10 16:06] djmitche commented on #47
Hm, but there are tests like
[code]
so I guess this is already supported!  I missed that in the source, somehow.  I'll document it.

[2017-05-10 16:10] djmitche commented on #44
#53 consolidates the tests.

[2017-05-10 16:26] jonasfj commented on #38
Ideally, we have an examples.yml file with same format as specification.yml... but with only the essential examples...

Then we can load said examples.yml from both demo site and tests... So it's not untested... Or we even better we have a hack that parsed out the examples from the readme for use in tests and interactive demo...

[2017-05-10 22:00] TheNavigat opened #54 "Change repository settings for website"
Repository settings should be changed to display the website in the docs/ directory in the master branch. Consequently, the `gh-pages` branch should also be deleted.

[2017-05-10 22:03] TheNavigat commented on #38
@jonasfj Why not parse `specification.yml` directly?

[2017-05-10 22:08] djmitche commented on #54
done and done

[2017-05-10 22:08] #54 closed

[2017-05-10 22:10] djmitche commented on #38
I'd prefer to parse them out of the README, or even render the README as markdown with live examples replacing the `yaml` sections.  The `specification.yml` file already has hundreds of examples and will have a lot more -- it's not a great way to learn.  It also lacks any narrative "flow" from one feature to the next - it would appear to the user as an un-ordered, barely described set of examples.

[2017-05-10 22:42] jonasfj commented on #38
it's a very long file with **many** entries... :)

[2017-05-11 19:50] djmitche opened #57 "Document ability to include functions in context"
[code]

[2017-05-12 00:05] TheNavigat commented on #46
I opted for allowing both. What are your thoughts, @djmitche ?

[2017-05-12 00:11] TheNavigat commented on #48
I don't understand the example. Don't we have only one context? How is a list of `{eval: "..."}` supposed to work? What should be the result?

[2017-05-12 00:14] TheNavigat commented on #44
I'd like to work on this, but I've seen that you've assigned yourself to it. Are you okay with me helping?

[2017-05-12 12:33] djmitche commented on #46
I think that's OK.  We can document that `{$fromNow: x}` is shorthand for `{$eval: "fromNow(x)"}`.

[2017-05-12 12:38] djmitche commented on #48
Sorry, I didn't explain it very well.  The idea is: `{$let: <variables>, in: <template>}`.  When evaluated, the <template> would be rendered with a context consisting of the existing context plus any variables in <variables>.

For example, if we needed to construct a data structure with exactly the same timestamp in two places, we couldn't use `$fromNow` directly since it will be called at two sli

[2017-05-12 12:38] djmitche commented on #44
I'm actually halfway done, and I think it's easier since they were my notes.  If I find any bugs you can help fix them ;)

[2017-05-13 12:13] #46 closed

[2017-05-13 21:01] TheNavigat opened #59 "Add $merge"
This is part of https://github.com/taskcluster/json-e/issues/10.

I agree with @jonasfj 's statement:

$mergeDeep is the same except it does it recursively to all objects.

[2017-05-15 00:46] TheNavigat commented on #10
`{$flatten: [[1,2], [3,4], [5]]} = [1,2,3,4]`

Shouldn't the result be `[1,2,3,4,5]`?

[2017-05-15 12:02] djmitche commented on #10
I'm curious why these are operators instead of built-ins.. wouldn't `{$eval: 'flatten([..])`}` be more flexible?

[2017-05-15 12:02] djmitche commented on #10
And, yes, `,5` is correct - edited to fix.

[2017-05-15 13:08] djmitche opened #62 "Automatically ensure bundle is updated"
We don't want to do automated check-ins of an updated `bundle.js`, but we can add an automated test to ensure that re-generating `bundle.js` doesn't generate any diffs.  Running that check on PRs will catch any changes that forget to update it.

[2017-05-15 20:18] jonasfj commented on #10
Using `$let` that is now possible...  but it's not as elegant...

Example:
[code]
becomes `[a,b,c]` or `[a,b,c,d,e]` depending on `value`.

Imagine this with `$let` and `$eval`, it's not as pretty

[2017-05-15 20:23] djmitche commented on #10
Makes sense, thanks

[2017-05-15 21:07] djmitche opened #63 "document that arrays have a .length property"
This is already tested, but not written down.

[2017-05-15 21:08] djmitche opened #64 "Disallow non-integer array indices"
[code]

The actual result is `undefined`, but this should be an error.

[2017-05-15 21:10] djmitche commented on #64
This is a problem for array slicing, too:
[code]
yet it evaluates to [3, 4, 5].

Judging from the comments in `interpreter.js`, I think `isNumber(..)` is being used to check for integers, when that's not what it does.

[2017-05-15 21:17] djmitche opened #65 "document that numbers, booleans, and nulls can be interpolated"
These values interpolate as their JSON literal values (numbers are numbers, `true` and `false` in lowercase, and `null`).

<strike>Note that `null` does not currently interpolate, so that will need to be fixed too.</strike>

[2017-05-15 21:27] djmitche commented on #64
Maybe we want to keep the slicing behavior, in which case it should be tested explicitly and documented

[2017-05-15 21:29] djmitche commented on #64
(but I'd rather use `floor(key.length/2)`)

[2017-05-16 01:22] djmitche commented on #63
Actually, strings don't work yet, so that will need to be fixed too.

[2017-05-16 01:39] djmitche opened #66 "Support escaping from string interpolation"
What if you wanted a literal "${" in a string?
[code]

[2017-05-16 01:51] djmitche opened #67 "Allow escaping operators"
How do I write a literal `{$eval: '2+2'}`?

[2017-05-16 01:57] djmitche opened #68 "fix, document truthiness, falsiness"
❌ indicates not currently working, and marked as a todo in the specification.  I've chosen to follow python semantics here since that's what our expression language is mimicking.

* empty string -> false
* nonempty string -> true
* empty array -> false ❌
* nonempty array -> true
* empty object -> false ❌
* nonempty object -> true
* null -> false

[2017-05-16 02:07] djmitche commented on #44
OK, "halfway done" was really rather optimistic :/

[2017-05-16 02:10] djmitche opened #69 "Handle top-level deletion markers as an error"
Currently `{$if: 0, then: 1}` will render to `undefined`, which isn't JSON-able.  It should be an error.

[2017-05-16 02:36] djmitche opened #70 "Sort numbers numerically"
Numbers should sort in numeric order -- they are currently sorted lexically.

Strings should sort in lexical order -- this works now.

Sorting between the two, without a `by` function, can probably remain undefined (and we don't need to check for that case).

[2017-05-16 02:39] djmitche opened #71 "Sort numbers lexically"
Numbers should sort in numeric order -- they are currently sorted lexically.

Strings should sort in lexical order -- this works now.

Sorting between the two, without a by function, can probably remain undefined (and we don't need to check for that case).

[2017-05-19 20:54] djmitche commented on #47
er, I documented this too..
 * Objects in JS format: `{"foo": 10} or {foo: 10}`

[2017-05-19 20:54] #47 closed

[2017-05-19 20:59] djmitche commented on #71
On second thought, undefined is bad.  It should be forbidden to intermingle different types when sorting.  Even if `by` returns different types.

[2017-05-19 20:59] djmitche opened #72 "Compare things deeply"
That JS does weird undefined things when you use `==` on objects or arrays is a JS bug, and we shouldn't propagate that into JSON-e.  Instead, we should do deep object comparisons.

[2017-05-19 21:02] djmitche opened #73 "unary +/- should not work on null or booleans"
`-null` is currently not an error -- it should be.  Similarly `-true` and `+true`

[2017-05-20 16:14] djmitche opened #74 "Support a `null` literal"
JSON defines `null`, but the expression language does not support it.

[2017-05-20 16:15] djmitche opened #75 "min/max with no args should be an error"
It currently returns `Infinity` which isn't valid JSON

[2017-05-21 23:40] jonasfj commented on #63
Are we sure we don't want to use a `len()` function instead? I can't remember if current behavior is a accident to decision...

[2017-05-21 23:54] djmitche commented on #63
I'd rather only allow `len(..)`, but this worked so i documented it :)

[2017-05-21 23:55] djmitche commented on #63
Which is to say, let me know which way to go :)

[2017-05-22 00:12] jonasfj commented on #75
It's not valid JSON, but it is certainly the right answer in many cases... I'm not sure if we should throw an error, or return maxInt

[2017-05-22 01:19] djmitche commented on #75
Well, maxint is platform-specific.  Since we don't support `max([1, 2])` I think zero-length argument lists will not happen accidentally, so making it an error for now is probably find.

[2017-05-22 01:22] djmitche commented on #68
Also note that `$if` should be consistent with the boolean operators (`||`, `&&`, `!`).  Right now those require actual booleans, while `$if` does truthiness.

[2017-05-23 01:16] jonasfj commented on #75
yeah, error is probably best :)

[2017-05-23 01:20] jonasfj commented on #63
Pretty sure it's a bug:
See:
https://github.com/taskcluster/json-e/blob/c820dfbe687e372b669f8d76693ed5d7f55d5f27/src/interpreter.js#L234

It doesn't have the same protections as `accessProperty`...

Hence, `([1,2,3])['length']` won't work but `([1,2,3]).length`, this a mistake...

[2017-05-23 22:15] jonasfj opened #77 "Define behavior for accessing undefined keys in an object"
Example: `{$eval: '({"test": 4}).foo'}`

Questions:
 * Does this eval to `null`
 * Does it throw an error
 * How do you get an object with default like `x.foo || 'default-value'` in js

As @djmitche said in comment:

I don't know how feasible it is... But I'm tempted to suggest an `or` operator... as in `x.foo or 'default-value'`. But having such an operator only allowed with a property access on

[2017-05-24 14:28] djmitche commented on #77
Just to throw options on the fire:
 * `x['foo']` evaluates to null, but `x.foo` is an error
 * `x['foo', 'default']` evaluates to `'default'`, while `x.foo` is always an error

[2017-05-25 18:20] jonasfj commented on #77
I like the first one `x.foo` is an error and `x['foo']` is null...

Especially if we also tweak `||` to work with non-booleans which seems
sane...

Hmm, maybe it is a bit crazy to not just return null from both of them...
Whether a template produces an error or produces and unexpected result
doesn't matter too much in the use-cases we have... Since we will be
checking the result against a JSON sch

[2017-05-25 18:23] djmitche commented on #77
Yeah, I think it's a matter of language preference -- JS seems all loosey-goosey to me, whereas Python probably seems really uptight to you :)

[2017-05-25 18:24] djmitche commented on #77
So I agree, this option:
 * `x['foo']` evaluates to `null`, but `x.foo` is an error

[2017-05-26 13:40] TheNavigat opened #78 "Handling non-existing properties"
Based on https://github.com/taskcluster/json-e/pull/44#discussion_r117988198

We need to agree on how to handle properties that don't exist and a possible keyword that silences errors.

[2017-05-26 14:07] TheNavigat commented on #78
Closed in favor of #77

[2017-05-26 14:07] #78 closed

[2017-05-30 14:20] #62 closed

[2017-06-01 16:52] #59 closed

[2017-06-02 02:15] TheNavigat commented on #72
(For future reference)

The `==` operator parsing is done here, https://github.com/taskcluster/json-e/blob/master/src/interpreter.js#L260. We should probably replace that with a function that does deep comparison.

[2017-06-02 02:20] TheNavigat commented on #72
What do you think of this implementation? https://github.com/marijnh/Eloquent-JavaScript/blob/master/code/solutions/04_4_deep_comparison.js

[2017-06-02 02:24] TheNavigat commented on #64
@djmitche Are you working on this? Should it be assigned to you?

[2017-06-02 02:26] TheNavigat commented on #66
Does a `$literal` operator sound like too much for such feature? It makes sense to me.

[2017-06-02 02:26] TheNavigat commented on #67
https://github.com/taskcluster/json-e/issues/66#issuecomment-305672108. What about a `$literal` operator?

[2017-06-02 02:31] TheNavigat commented on #10
How should `$mergeDeep` act like?

If we have `{$mergeDeep: [{a: 1, b: 2}, {a: {b: 1}, b: {a: 3}, c: {d: {e: 5}}}]}, what should be the result?

[2017-06-02 12:16] TheNavigat commented on #69
Why don't we return `{}` instead?

In some use cases, such as polling, I think it'd be best to return an empty object instead of an error. What are your thoughts?

[2017-06-02 13:50] djmitche commented on #66
I was thinking about just adding some string syntax, maybe `$$` -> `$`, so that `"$${"` would render as `"${"` and not do any interpolation.

A `$literal` operator isn't a bad idea, although I think if the user has a big chunk of data they want included literally, it would make more sense to put that in the context and include it with `{$eval: "chunk_of_data"}`.

[2017-06-02 13:51] djmitche commented on #67
We could do a parallel thing here, and say any property name starting with `$$` will come out with prefix `$`:

[code]

[2017-06-02 13:53] djmitche commented on #10
I'm tempted to say let's leave the "deep" variants out for now.  We have a pretty sophisticated language already!  Better to get on to the Python implementation, and we can revisit these operators if we find a need for them.

[2017-06-02 13:58] djmitche commented on #69
In the example here the caller is expecting an integer, not an object.  What do you think about returning `null` in this case?

[2017-06-02 14:16] TheNavigat commented on #69
Yep, `null` should do. Should I change the line?

[2017-06-02 14:17] #73 closed

[2017-06-02 14:18] djmitche commented on #69
yes, please :)

[2017-06-02 14:48] #48 closed

[2017-06-02 14:54] TheNavigat commented on #66
Are we talking about escaping the `$` symbol itself? If so, your approach sounds solid to me.

[2017-06-02 14:57] djmitche commented on #66
Yes, I think that's the critical character.

[2017-06-02 21:34] djmitche commented on #72
@jonasfj is that reasonable? I don't know what things like `assert.equal` use for deep equality..

[2017-06-02 22:40] jonasfj commented on #72
https://lodash.com/docs/4.17.4#isEqual

We only allow JSON value right? so equality is based on `===` for non-object/arrays... We don't look at inherent properties for objects (as there should be none).

[2017-06-04 21:24] TheNavigat commented on #69
Closed by https://github.com/taskcluster/json-e/pull/87

[2017-06-04 21:24] #69 closed

[2017-06-05 18:11] #67 closed

[2017-06-08 15:48] djmitche opened #95 "Create a python implementation"

[2017-06-08 16:31] djmitche opened #96 "Fix tests for escaping operators"
[code]

I think that the first is a good test, but it's not "interpolating" so it probably needs a new name.

The second should, I think, replace `$$` with `$`.

[2017-06-08 16:39] djmitche opened #97 "Test for one non-array thing being flattened"
[code]

I think the use of `values.some` in the JS implementation will fail to generate an appropriate error for this.

[2017-06-08 18:36] djmitche opened #98 "Render the parameter to fromNow"
[code]

[2017-06-08 18:44] djmitche opened #99 "remove undocumented $switch"
I had no idea this operator existed.  It's untested.  For the moment, let's omit it.

[2017-06-08 18:45] djmitche opened #100 "Fail on undefined {$operator: ..}"
We should reserve all object keys named with a single `$` prefix, forcing users to always write `$$`.  Then we can introduce new operators without concern for backward compatibility.

[2017-06-08 23:28] TheNavigat commented on #96
That one required some thought. The second test is intentional.

It's because of that line, https://github.com/taskcluster/json-e/blob/master/src/index.js#L215, the ` && constructs.hasOwnProperty(key.substr(1))` bit.

I thought we should allow escaping json-e's operators only while parsing non-json-e operators starting with `$$` the exact same way they're written.

You think replacing all `$$`s is

[2017-06-12 14:16] djmitche commented on #96
I see a potential problem when we decide to add a new operator.  Say version 3.2 of JSON-e adds a "nothing" operator.  Suddenly the result of the second test becomes `{$nothing; 1}`, very quietly dropping the second `$`.

If we always replace `$$` with `$` and prohibit `$xyz` where `xyz` is not a defined operator, then we preserve our freedom to later add xyz as an operator. When we add such an op

[2017-06-12 22:40] djmitche commented on #71
I'll fix this PR up

[2017-06-13 12:30] djmitche commented on #74
I see refere

[2017-06-13 15:36] #72 closed

[2017-06-13 17:58] djmitche opened #102 "Keys can be interpolated, too"
[code]

This needs to be documented and tested.

[2017-06-13 18:03] djmitche commented on #100
#96 covered this.

[2017-06-13 18:03] #100 closed

[2017-06-13 18:30] djmitche commented on #10
I think these have all been implemented, with the exception of `$concat`.  I think we have a complex-enough language already, so let's leave it there :)

[2017-06-13 18:30] #10 closed

[2017-06-13 18:31] djmitche commented on #38
We have a site now that's decent, but there are some ideas above that would help to make the language more self-documenting.  We should also think about how the site gets built -- updating `docs/bundle.js` is getting to be a bit of a drag.  Still, neither is high priority.

[2017-06-14 23:54] jonasfj commented on #10
With $flatten do we even need $concat?

Den 13. jun. 2017 11.30 AM skrev "Dustin J. Mitchell" <
notifications@github.com>:

[2017-06-15 12:32] djmitche commented on #10
Probably not!

[2017-06-15 21:41] imbstack commented on #97
I talked to jonas a bit about this and we think that actually the spec and comments in the code are wrong and this should actually work. `{$flatten: [[1, 2], [3], 4]} -> [1, 2, 3, 4]` makes sense to me.

Now that I look around the internet a bit, I think I see what is happening here. With lodash, flattening works the way it does in json-e currently:

[code]
However, when I wander into the python w

[2017-06-15 23:44] imbstack commented on #66
I believe this is resolved now if the specification file is doing what I think it is. Please reopen if I'm wrong!

[2017-06-15 23:44] #66 closed

[2017-06-19 22:30] imbstack commented on #38
@djmitche while I was working on the other three issues for the demo site I ended up redoing most of it anyway. I'll assign this to myself. Hopefully you haven't done much work on this yet! It still needs a way to not force us to update the bundle ourselves manually, but that might require moving off of github pages.

[2017-06-20 14:50] djmitche commented on #97
I don't especially care which way we go with this -- we should just make sure both implementations do the same thing!

[2017-06-20 14:55] djmitche commented on #38
I hadn't touched this, and your work looks awesome :)

[2017-06-20 14:56] djmitche commented on #38
@eliperelman could we get https://jsone.js somehow?

[2017-06-20 15:22] eliperelman commented on #38
@djmitche .js isn't a valid TLD, but you can register with .js.org:

https://js.org/

[2017-06-20 17:36] imbstack commented on #97
After thinking about this a bit, since `json-e` is such a limited language, being loose with what input we'll take is probably best. I think I'll define `flatten` as "flattens a single level of the array while keeping any elements at the base level where they are". PR will come soon.

[2017-06-20 18:12] imbstack commented on #65
I'm trying to understand what we mean here. Do we mean interpolate like [this](https://imbstack.github.io/json-e/?template=foo%3A%20%7B%24eval%3A%20'bar'%7D&context=%7Bbar%3A%20null%7D%0A#playground) or does it have to be like [this](https://imbstack.github.io/json-e/?template='tc_%24%7Bname%7D'%3A%20'%24%7Bvalue%7D'%0A&context=name%3A%20foo%0Avalue%3A%20null%0A#playground)?

[2017-06-20 18:31] djmitche commented on #65
Sorry, I meant example 2.

[code]
The last sentence in the first comment ("Note that null does not currently interpolate, so that will need to be fixed too") was wrong and has anyway now been fixed.

[2017-06-20 20:55] #68 closed

[2017-06-20 21:05] #97 closed

[2017-06-20 21:07] imbstack opened #107 "Split demo site into three pages"
As described in https://github.com/taskcluster/json-e/pull/105#pullrequestreview-45264466

[2017-06-20 21:08] imbstack opened #108 "Add examples of expression language"
As described in https://github.com/taskcluster/json-e/pull/105#pullrequestreview-45264466

[2017-06-20 21:10] imbstack opened #109 "Fix whatever is going wrong with demo playground links"
As can be seen in https://github.com/taskcluster/json-e/issues/65#issuecomment-309842448

[this](https://imbstack.github.io/json-e/?template=foo%3A%20%7B%24eval%3A%20%27bar%27%7D&context=%7Bbar%3A%20null%7D%0A#playground) should render

[code]

and [this](https://imbstack.github.io/json-e/?template='tc_%24%7Bname%7D'%3A%20'%24%7Bvalue%7D'%0A&context=name%3A%20foo%0Avalue%3A%20null%0A#playground) s

[2017-06-20 21:17] #38 closed

[2017-06-20 21:17] #50 closed

[2017-06-20 21:17] #51 closed

[2017-06-20 21:17] #52 closed

[2017-06-20 21:38] #71 closed

[2017-06-20 21:40] djmitche opened #111 "use JSON-e to parameterize action tasks"
https://bugzilla.mozilla.org/show_bug.cgi?id=1335920

[2017-06-20 21:41] djmitche opened #112 "Parameterize .taskcluster.yml in tc-github"
https://bugzilla.mozilla.org/show_bug.cgi?id=1335915

[2017-06-20 21:41] djmitche opened #113 "mozilla-taskcluster use json-e for .taskcluster.yml"
https://bugzilla.mozilla.org/show_bug.cgi?id=1335955

[2017-06-20 21:42] djmitche opened #114 "move mozilla-taskcluster info in-tree"
https://bugzilla.mozilla.org/show_bug.cgi?id=1328727

[2017-06-20 21:43] djmitche opened #115 "Simplify input parameters for decision task"
https://bugzilla.mozilla.org/show_bug.cgi?id=1324767

[2017-06-20 21:44] djmitche opened #116 "support injecting arbitrary webhook payload"
https://bugzilla.mozilla.org/show_bug.cgi?id=1324807

[2017-06-20 21:57] djmitche opened #117 "Stop checking in the generated site"
Now that we're using webpack, each generation of the site will be slightly different (I think webpack uses random IDs).

https://gist.github.com/domenic/ec8b0fc8ab45f39403dd might help to get Travis to automatically build and export the result to the gh-pages branch.

[2017-06-20 21:58] djmitche opened #118 "Get a `json-e.js.org` CNAME"
Then our docs URLs will not include "github" or "taskcluster".

[2017-06-20 22:19] eliperelman commented on #117
We did this in the unified-logviewer: https://github.com/taskcluster/unified-logviewer/blob/master/deploy.sh

[2017-06-21 17:38] djmitche opened #119 "Only support unicode strings"
We should reject bytestrings outright and always expect unicode input.

That's a little tricky with py2/py3 compatibility, but it's not so hard.

[2017-06-21 17:50] djmitche opened #120 "Verify that eval's operand is evaluated"
[code]

[2017-06-21 17:53] djmitche commented on #120
In fact, we should check that the inner value is rendered for every operator:

[code]

I think this has been missed a few times in both JS and Python implementations.

[2017-06-21 20:33] djmitche opened #121 "Test string escaping"
I'm not sure what this code is supposed to do, but let's test it to find out, and make sure the JS and Python implementations behave identically:
[code]

[2017-06-21 20:43] djmitche opened #122 "Test property access with integers"
[code]

[2017-06-22 16:13] #117 closed

[2017-06-22 20:49] djmitche opened #127 "put tokens in the same order for python as for javascript"
It turns out that order is significant for the `tokens` array

[2017-06-22 21:02] djmitche opened #128 "Test and synchronize the time periods allowed by fromNow"
These differ between JS and Python right now.

[2017-06-23 16:18] djmitche opened #129 "Implement property testing to compare the languages"
The property is:

Running this for a while should help us identify differences.  Differences will be particularly insidious, since we may find ourselves in a place where something using the JS impl depends on behavior A and something else using the Python implementation depends on behavior B, and A and B are incompatible.

I believe `hypothesis` is a good tool for this in Python.

[2017-06-25 22:45] djmitche commented on #115
This is unrelated to JSON-e -- my mistake.

[2017-06-25 22:45] #115 closed

[2017-06-29 18:11] djmitche opened #132 "let is not evaluating its values"
[code]

[2017-06-30 00:15] #109 closed

[2017-06-30 00:15] #65 closed

[2017-06-30 20:04] jonasfj opened #133 "truthyness of functions"
functions are first class, we need to define truthyness, and equality... add tests for this and provide that it works...

[2017-07-02 20:35] jonasfj opened #135 "in-operator should support deep-equality on array"
`{a: 45} in ["string", 46, {a: 45}]` should be legal, and true..

Note: `"a" in {"a": 45}` is also true, I'm not sure we should allow: `5 in {"5": 45}`... I suspect we don't want implicit type conversion... so I suggest we keep those semantics as is...

[2017-07-03 15:57] djmitche commented on #121
We hypothesize that this was for escaping literal strings:
[code]
but I think we decided not to support such escaping.

[2017-07-03 15:58] djmitche commented on #119
I want to do this before we vendor into Gecko or Treeherder.

[2017-07-03 15:59] djmitche commented on #116
this was just here for project tracking

[2017-07-03 15:59] #116 closed

[2017-07-03 15:59] djmitche commented on #112
this was just here for project tracking

[2017-07-03 15:59] #112 closed

[2017-07-03 16:01] djmitche commented on #114
this was just here for project tracking

[2017-07-03 16:01] #114 closed

[2017-07-03 16:01] djmitche commented on #113
this was just here for project tracking

[2017-07-03 16:01] #113 closed

[2017-07-03 16:01] djmitche commented on #111
this was just here for project tracking

[2017-07-03 16:01] #111 closed

[2017-07-03 21:29] djmitche commented on #119
I was under the impression that PyYAML generated unicode strings. On Python 3, it does.  On Python 2, it returns bytestrings unless there are unicode characters involved:
[code]
and
[code]

The use-cases for this library are pretty much limited to ASCII, and are all using YAML, so I think we should leave it as-is

[2017-07-03 21:29] #119 closed

[2017-07-04 21:19] djmitche commented on #128
These should match the TC clients -- Python does, JS doesn't.

[2017-07-04 21:54] djmitche commented on #128
I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1378232 to sync this with the client libs.

[2017-07-04 21:59] #133 closed

[2017-07-04 22:04] #135 closed

[2017-07-05 02:36] djmitche commented on #129
I got a start on this in my `prop-testing` branch.  It needs a much better JSON generator to be useful.

[2017-07-05 02:37] #77 closed

[2017-07-05 17:46] djmitche opened #140 "$merge of [null] should be an error"
[code]
(found with property testing!)

[2017-07-05 20:40] djmitche opened #141 "Support a base value for $fromNow"
To replace
[code]
and have those values be reproducible, we need to be able to use the same base time:
[code]

[2017-07-05 21:34] djmitche opened #142 "JSON representations of dates look different"
[code]

I think this just happens when the date is an integer number of seconds.

[2017-07-05 22:53] djmitche commented on #142
This appears to be limited to testing, where the date is a float.  So not blocking a release.

[2017-07-05 23:17] djmitche opened #143 "demo site not building reliably"
https://tools.taskcluster.net/groups/bGFRE_V2R8aGLpgRcRJlZg/tasks/Zxl2BbY2S5iHkzYDIoSiGw/runs/0/logs/public%2Flogs%2Flive.log#L1394

[code]

[2017-07-06 19:45] jonasfj commented on #141
neat, that we way people can inject a custom base via the context... or create one using `$let`

[2017-07-06 22:44] djmitche opened #145 "Permit defining custom operators, too"
This should be a relatively unusual thing, but for example we might want to add `{$slugidFor: ..}` or, more pressing, define `{$dumps: ..}` to behave like `{$json: ..}` for backward compatibility.

[2017-07-07 02:19] djmitche commented on #145
Hm, this requires supplying that custom operator with a render function and gets into quite a bit of internal implementation I'm really not comfortable with.

[2017-07-11 13:58] djmitche commented on #145
Yep, this is a bad idea.

[2017-07-11 13:58] #145 closed

[2017-07-13 01:22] jonasfj opened #150 "$map should operate on objects too"
How I don't know... maybe:
[code]
or
[code]
Or I guess we could support both of them...

---
It's also plausible that we could do:
[code]

[2017-07-13 01:24] jonasfj opened #151 "Reserve `$<keyword>` for future constructs..."
Let's just require that things are always written with `{$$<whatever>: ...}` to get `{$<whatever>: ...}`.

That way we can safely introduce new $-keywords without breaking existing templates.

**Right now** the `{$$<keyword>: ...}` to `{$keyword: ...}` escaping only works for reserved keywords.

---

Notably, I could imagine a $zip, $unzip, $pairs, $unique, $reduce, {$call: ..., with: ...}, {$tran

[2017-07-13 03:05] djmitche commented on #151
I believe this is already the case - do you know otherwise?

[2017-07-13 05:20] jonasfj commented on #151
Hmm, it seems to me that we only escape for keyword is reserved:
https://github.com/taskcluster/json-e/blob/b6d254291a42f09a7b4474464180ba283b998c99/src/index.js#L239-L241

If we wanted to do this `{$reservedKeyword: null}` should throw an error rather than render to `{$reservedKeyword: null}`...

The test case is thus very easy...

[2017-07-13 05:23] jonasfj commented on #151
Note: I propose that we only reserve: `/^\$[a-zA-Z][a-zA-Z0-9]*$/ as we're only interested in reserving future keywords...

[2017-07-13 05:43] jonasfj opened #154 "Consider interpolating `${null}` as empty string"
Currently we don't allow interpolation of objects and arrays...

these seems to work:
* `${"string"}` => `"string"`
* `${55.5}` => `"55.5"`
* `${null}` => `"null"`

I propose that we change it so that: `${null}` => `""`

It's weird that `null` becomes `"null"` when objects and arrays aren't allowed.
It would seems useful to allow `null` to be used as empty string, since that just means it disappea

[2017-07-13 13:49] djmitche commented on #151
Hah, I meant to do the exact opposite.  Good spot!

[2017-07-13 13:52] djmitche commented on #154
This makes sense to me.  We should add a bit to the README too.

[2017-07-13 14:00] djmitche opened #156 "Update README docs"
* more detail on interpolation
* examples for the expression language rather than just a bulleted list
* more detail on fromNow (specifically around what "year" and "month" mean)

[2017-07-13 23:16] jonasfj opened #158 "`$json` should handle functions with an error -`{$json: {$eval: 'min'}}`"
`{$json: {$eval: 'min'}}` is the test case, it produces some weird error that isn't handled.
I think we want to explicitly check for this...

[2017-07-14 00:53] jonasfj opened #159 "$let should restrict variables names to `/^[a-zA-Z_][a-zA-Z0-9_]*$/`"
In the context we restrict variable names to: `/^[a-zA-Z_][a-zA-Z0-9_]*$/`

We should do the same in $let as we do for `each(...)` too...

This aims to prevent variable names that can't be accessed like `{$let: {" bla bla": 6}, in: {...}}`

[2017-07-14 15:24] djmitche commented on #158
Ideally we don't have to recurse over the whole structure, but yes, we should handle this cleanly.  Isn't it acceptable to raise a JSON-e error?

[2017-07-14 20:33] jonasfj opened #161 "proposal `$switch`"
[code]

[2017-07-14 21:12] djmitche commented on #161
What's the use-case for this?  I'm not opposed except on the basis of "avoid unnecessary complexity".

[2017-07-14 21:25] jonasfj commented on #161
It's thought as a general alternative to if-elseif which we don't have.
But in particular I think it would be useful with a `typeof/type` function to allow type switching:
[code]

[2017-07-14 21:26] jonasfj commented on #161
Imagine updating artifacts, you could switch on `artifacts[i].kind` and inside a `$map` to treat folder and file artifacts differently.

[2017-07-14 23:44] djmitche commented on #161
OK, I'm sold :)

[2017-07-17 18:36] djmitche opened #162 "Identifiers beginning with `in` are not allowed"
[code]

[2017-07-18 19:59] jonasfj commented on #158
Yeah, some clean error is all we want..

[2017-07-21 17:39] djmitche opened #164 "Python: built-in functions get a list of arguments"
[code]
gives `['decision']` for ``${as_slugid("decision")}'`.

[2017-07-21 17:43] djmitche commented on #161
I'm writing `.taskcluster.yml` for Gecko, and it would be useful there, too.

[2017-07-21 18:00] djmitche opened #165 "Add strip/trim-like functions"
For things like `url.rstrip("/")`

[2017-07-21 18:59] djmitche opened #166 "Need better context-finding for error messages"
[code]

gee, thanks.  Where might that have appeared?

Something like

[code]

would be a lot better.  This could probably be assembled only as necessary by nested exception handlers, each adding a prefix to the JSON path.

We'll also need some way of testing error messages..

[2017-07-25 06:37] walac commented on #165
Does it support `regex`? Notice regex makes it more powerful, but potentially pure string may yield faster code.

[2017-07-25 12:48] djmitche commented on #165
It doesn't, because the regex engines supported by various base languages (JS and Python in particular) differ.  So if we added regex support we'd have different behavior on different platforms.

[2017-08-10 01:54] djmitche opened #168 "enforce all error messages match"
I got started in #166, but ideally all errors from both implementations would have the same (and thoughtful) message.

[2017-08-11 16:09] djmitche opened #169 "Support $mergeDeep"
We have long had a deep-merge behavior in in-tree configuration.  It basically works by recursively appending to arrays, overwriting values, and merging object properties.

That would help to avoid long templates like (copied from Gecko `actions.json`)

[code]

[2017-08-26 21:10] imbstack commented on #150
Resolved in #157

[2017-08-26 21:10] #150 closed

[2017-09-14 15:30] djmitche commented on #108
This is done now

[2017-09-14 15:30] #108 closed

[2017-09-14 15:30] djmitche commented on #143
I think this is fixed, right @imbstack ?

[2017-09-14 17:34] imbstack commented on #143
Yep, I believe so!

[2017-09-14 17:34] #143 closed

[2017-09-18 13:23] djmitche opened #176 "Prohibit extra keys in operations"
[code]

Is subtly wrong. that `foo` property in the top-level object will be ignored, with no error.

[2017-09-18 15:58] alexandrasp commented on #159
Working on it.

[2017-09-19 02:44] alisha17 commented on #154
Can I take up this issue to work upon?

[2017-09-19 02:47] jonasfj commented on #154
@alisha17, absolutely...

Btw, we hang out on IRC in #taskcluster and #tc-contributors on irc.mozilla.org if you have any questions..

[2017-09-19 11:42] alisha17 commented on #154
@jonasfj  Could you guide me a bit about which JS file does this code relate to? Maybe interpreter.js?

[2017-09-19 12:09] djmitche commented on #154
You probably want to start [here](https://github.com/taskcluster/json-e/blob/f63ffdcb269be0fbc2101ecde6facc011ae54c8b/src/index.js#L16-L45).

[2017-09-19 13:26] alisha17 commented on #154
Done! Regarding the test : [link](https://github.com/taskcluster/json-e/blob/master/test/specification_test.js#L16), where can I find this SPEC_FILE?
@djmitche

[2017-09-19 13:33] djmitche commented on #154
In Node, `__dirname__` is the name of the directory containing the current source file (sort of like `__file__` in Python).  So

[code]

means that it's the file `specification.yml` in the parent directory to that containing `specification_test.js`.

[2017-09-21 13:43] alexandrasp commented on #168
working on it  :)

[2017-09-22 17:52] djmitche opened #180 "disallow str(array)"
The behavior of `str` on an array is not currently defined.  We should either define it and test it thoroughly, or disallow it.  I'd lean toward disallowing it.  (From #155)

[2017-09-22 22:35] djmitche commented on #159
@alexandrasp I just noticed in the demo site,

[code]
fails.  The site is at https://taskcluster.github.io/json-e/

Can you take a look, add a test case, and fix it up?

[2017-09-22 23:58] djmitche opened #181 "`now` constant appears to be a Date, not a string"
[code]
yet
[code]

This should show up as a string value.

[2017-09-23 17:24] prachi1210 commented on #180
Hi,
I'd like to work on this issue. From https://github.com/taskcluster/json-e/pull/155 I understand that we want to disallow str(array) from just $eval, is that right?

[2017-09-23 17:29] djmitche commented on #180
Also in string interpolation -- for example

[code]

[2017-09-25 01:53] alexandrasp commented on #159
yes, @djmitche. I will include this case test and fix it.

[2017-09-25 13:42] djmitche commented on #176
So the idea here is that for an operator (`{$.., ..}`), *only* the defined properties should be allowed.  For `$merge`, for example, no other properties are allowed.  For `$if`, `then` and `else` are allowed (but not `foo`!)

[2017-09-25 14:42] lauryndbrown commented on #181
Hi, I'd like to work on this issue. But I'm noticing that now is simply giving me the word "now" rather than a date time stamp.

`template = "now"
context = {}
print(jsone.render(template,context))`

When trying it on the docs site (https://taskcluster.github.io/json-e/), I also simply get "now". Is there something special necessary when using the now builtin?

[2017-09-25 14:53] prachi1210 commented on #180
I think arrays are already disallowed in string interpolation here
[code]

[2017-09-25 15:38] djmitche commented on #181
To evaluate a variable, you need to use eval.  My example is wrong.  It should be

[code]
sorry about that!

[2017-09-25 16:39] prachi1210 commented on #176
I'd like to work on this issue. We want to disallow undefined properties corresponding to the following operators:
- `$if-then-else`
- `$flatten`
- `$flattenDeep`
- `$merge`
Are there any that I missed?

[2017-09-25 17:06] djmitche commented on #176
All of the operators, please :)

[2017-09-25 19:19] #180 closed

[2017-09-26 16:46] #151 closed

[2017-09-26 18:56] #107 closed

[2017-09-27 12:54] djmitche commented on #154
Fixed in #178.  @alisha17 by the way if you write something like "Fixes #154" in your pull request description, then Github will automatically close that issue when the PR is merged.

[2017-09-27 12:54] #154 closed

[2017-09-27 12:55] djmitche commented on #159
Fixed in #183

[2017-09-27 12:55] #159 closed

[2017-09-27 12:56] djmitche commented on #181
@lauryndbrown as a quick github tip, if you put "Fixes #181" in the description of the PR, then Github will automatically close that issue when the PR is merged.

[2017-09-27 12:56] #181 closed

[2017-09-27 13:18] alisha17 commented on #154
@djmitche  Ah! Wasn't aware about it. Will take care now.

[2017-09-28 12:16] prachi1210 commented on #176
Just a clarification, disallowing undefined properties would require me to flag them as errors in specifications, right?

[2017-09-28 21:14] djmitche opened #187 "Use pep8 and eslint"
These should be used in automation to identify style issues, and available to use while developing, too.

[2017-09-29 19:40] djmitche commented on #187
eslint is already run for JS.  So this just needs pep8.

[2017-10-01 03:46] #176 closed

[2017-10-05 13:51] viraj96 commented on #158
@djmitche In the context of above test case, I presume the error originally is generated because no arguments are provided to `min`. As far as I have read the code, I see that `max` and `min` have `minArgs` defined as 1 and if `args.length` is less than `minArgs` then a `builtinError` is thown. So, now my question is what would `args.length` be in the above case because if it was a number then tha

[2017-10-05 20:38] jonasfj commented on #158
No that's not correct.

The value of the json-e expression `{$eval: 'min'}` is a function.
Now we don't allow json-e to evaluate to functions, or well, we somewhat do...

Example of something not allowed:
[code]

Example of something allowed:
[code]

So it's permitted to do `{$eval: 'min'}` which is useful in cases where you have a function that returns another function... like `{$eval: make_funct

[2017-10-10 14:37] djmitche commented on #168
Only 352 test cases left :)

[2017-10-10 16:33] jonasfj opened #192 "Support for partial evaluation"
Imagine an expression like:
[code]
it accepts `x` and `y` as parameters...

It should be possible to evaluate this partially... Say I only have `y = 2` then it should partially evaluate to:
[code]
Arguably I would have to call `render({...}, {y: 2, x: placeholder}` to signal that `x` is exists but should be a placeholder...

[2017-10-10 16:41] djmitche commented on #192
I don't like this being the result of a context variable missing -- I think that will be bug-prone and difficult to decipher. Also, what if you had
[code]
and you wanted the entire `mybool` property to go away when `x` is not defined?

How about

[code]

which is to say, introduce `defined(..)` to check if a context variable or property is defined, and `$verbatim` to skip evaluating a sub-structur

[2017-10-10 16:41] djmitche commented on #192
Better example:

[code]

[2017-10-10 16:54] jonasfj commented on #192
To be clear in: `jsone.render({...}, {y: 2, x: jsone.placeholder})` the `jsone.placeholder` is a special value indicating that expressions referencing `x` is supposed to be left alone...

[2017-10-11 19:01] alexandrasp commented on #168
and probably some eventual bugs :)

[2017-10-12 12:10] prachi1210 commented on #168
I can help out with some of the test cases @alexandrasp @djimitche. Are you working on test cases for any of the  operators currently or is everything up for grabs?

[2017-10-12 12:26] djmitche commented on #168
I don't have any work in progress, so just please coordinate with @alexandrasp

[2017-10-12 21:00] alexandrasp commented on #168
@prachi1210, I am working in sections: `$reverse`, `$eval`, `$sort` and `$builtins`. Feel free to help with other sections o/

Tip: @djmitche said to me that JS messages sometimes could not be a good reference:/

[2017-10-15 21:24] edmorley opened #193 "Missing release notes"
I couldn't find a CHANGES.md, or section in the README, or release notes added via the GitHub 'releases' feature.

I don't suppose some could be added for future releases?

[2017-10-16 13:48] djmitche commented on #193
I think we will rely on the git history for that.

[2017-10-28 14:01] djmitche opened #199 "Operators || and && evaluate right too soon"
See a partial fix in #198

[2017-11-02 00:28] lissyx opened #200 "Invalid date-time can be generated, intermittently"
STR:
 - be on halloween day off
 - submit taskcluster tasks

Expected:
 Works.

Actual:
 Fails with "InputValidationError"

This is the error:
[code]

As you can see, `created`, `deadline` and `expires` are all invalid because they lack the timezone info. It is generated here [https://github.com/mozilla/DeepSpeech/blob/12dee36a43fbbebcccf1a3c2cbc8946c54924f7d/taskcluster/linux-opt-base.tyml#L10-L1

[2017-11-02 00:31] jonasfj commented on #200
my suspicion is that the following magic doesn't work reliably:
https://github.com/taskcluster/json-e/blob/master/jsone/shared.py#L110-L114
(like maybe there is a magic time at which it doesn't work)

[2017-11-02 00:34] lissyx commented on #200
[code]

[2017-11-02 00:35] lissyx commented on #200
and ...
[code]

[2017-11-02 00:38] lissyx commented on #200
Looks like this is because of https://docs.python.org/3/library/datetime.html#datetime.datetime.isoformat: "Return a string representing the date and time in ISO 8601 format, YYYY-MM-DDTHH:MM:SS.mmmmmm or, if microsecond is 0, YYYY-MM-DDTHH:MM:SS"

[2017-11-02 00:39] lissyx commented on #200
Fix could be as simple as adding `timespec='microseconds'`:
[code]

[2017-11-04 21:36] jonasfj opened #201 "Precedence of `ìn` is wrong relative to `||`"
Example: `{$eval: "'a' in ['b'] || true"}` does not work...
while: `{$eval: "('a' in ['b']) || true"}` does work.

We probably need to review the precedence of the `in` operator.

[2017-11-06 13:43] djmitche commented on #193
@edmorley based on https://github.com/taskcluster/taskcluster-rfcs/issues/101and http://keepachangelog.com/en/1.0.0/ git history's probably not so good.

I know of [towncrier](https://pypi.python.org/pypi/towncrier) to help with this.  Do you have other tools?

[2017-11-06 14:16] edmorley commented on #193
I personally haven't used towncrier, but I know pip uses it:
https://pip.pypa.io/en/latest/development/#adding-a-news-entry

[2017-11-12 03:46] jonasfj opened #203 "string slicing should be encoding aware, use characters not bytes for offsets"
We implement json-e in python, js and in some future other languages. These all encoding strings differently.

Meaning that string slicing like: `myString[2:]` have to be encoding aware. We can't just cut after 2 bytes, if the string is non-ascii then this could have different results in python and js, as python uses utf8 and js uses uft16 for internal string encoding.

The safest thing is probabl

[2017-11-12 18:54] djmitche commented on #203
We should probably require everything passed to json-e to be unicode, in fact -- not bytes.

Python does not use utf8 -- for unicode strings it uses unicode character points, and for bytestrings it uses bytes.  It has functions to encode and decode between the two, and utf-8 is among the options for encodings.

[2017-11-12 20:14] jonasfj commented on #203
Oh, I thought python did uft8, but Unicode is perfect...

Anyways, yeah should operate on Unicode strings.. in Python that's just converting to Unicode strings... But how do you do that in js?

Probably well have to write methods for length and string slicing that use codepoint offsets...

[2017-11-22 13:46] ydidwania commented on #201
Hi, I would like to work on this. I found the precedence defined [here](https://github.com/taskcluster/json-e/blob/master/src/interpreter.js#L341).
Where else should I look to understand their usage?

[2017-11-22 13:58] djmitche commented on #201
The operators are described in the README.  I think the first step would be to write some tests to demonstrate the issue, based on jonas's examples above.  Then the solution *may* be as easy as switching the order in the precendence list you linked to.

[2017-11-27 12:05] ydidwania commented on #201
Sorry of the delay. I was trying to figure out what sort of test to write. I tried comparing the different types of opertators. Since `in` is a relational operator resulting in a `true` or `false` value and `||` and `&&` are logical operators, `in` should have higher precedence than `||` and `&&` similar to `==` .
[Here](https://pastebin.mozilla.org/9073650) is the test that I wrote. All of them s

[2017-11-27 15:00] djmitche commented on #201
Those look right!  Note that in `json-e` the tests are all in `specification.yml` in the root of the repository, rather than being Python functions as you've written them.

[2017-11-27 15:43] ydidwania commented on #201
I had run `yarn test` once or maybe twice. I was trying to find where all of those tests were located :)
Thanks though. Should I add those three test cases as it is under `expression language - in operator
` section?

[2017-11-27 15:57] djmitche commented on #201
Yes, that sounds good.

[2017-11-27 20:19] #201 closed

[2017-11-28 22:36] djmitche commented on #199
Fixed in #205.

[2017-11-28 22:36] #199 closed

[2017-11-29 13:28] lissyx commented on #200
FYI, since I filed this bug, we got something like 10 occurrences of this intermittence.

[2017-11-29 13:37] djmitche commented on #200
Do you want to make a PR?  Looks like timespec='microseconds' would fix it?

[2017-11-29 13:37] lissyx commented on #200
I can make it a PR if you think it's a good enough fix :)

[2017-11-29 19:57] #200 closed

[2017-11-29 22:07] djmitche commented on #200
Fixed in v2.3.5.

[2017-11-30 08:27] lissyx commented on #200
Looks like it's not just py2/py3 debate: `TypeError: 'timespec' is an invalid keyword argument for this function` https://tools.taskcluster.net/groups/PQXqB4WaQRSc1hi6ge15Kg/tasks/PQXqB4WaQRSc1hi6ge15Kg/runs/0/logs/public%2Flogs%2Flive_backing.log#L565

Yet this runs under Python 3.

[2017-11-30 08:40] lissyx commented on #200
@djmitche It seems like I got tricked, `timespec` is only available on v3.6 as much as I could test, (3.5 from debian 9.2 does not have it).

[2017-11-30 08:47] lissyx commented on #200
@djmitche I re-opened another PR relying on the `TypeError` since so far this would be more reliable ; I had a hard time finding proper documentation on which specific version does have that.

https://github.com/taskcluster/json-e/pull/207

[2017-11-30 09:58] lissyx commented on #200
According to python/cpython@a2998a6#diff-25e2d173c84057d069b7890450714edd, it would be available since 3.5.2. Hence, I don't really see a reliable way to test that besides catching the exception :[

[2017-11-30 19:23] jonasfj commented on #200
Maybe consider something more inline with:
https://github.com/taskcluster/taskcluster-client.py/blob/1eca2aa980170f9c9b46693abd5f097e0ef781a3/taskcluster/utils.py#L146-L157

[2017-12-04 06:04] jonasfj opened #208 "`$map` on objects is weird when `each` results on an array"
[code]
results in:
[code]

I think it reads the arrays as objects, perhaps it's better to throw an error.

@imbstack ^ is this intended behavior?

[2017-12-04 09:33] jonasfj opened #210 "fromNow() in expressions don't read `now` from current context"
Example:
[code]

@imbstack, shouldn't we fix this? instead of making a hack where the fromNow function have access to the initial context we could just call functions such that they have access to the context...

In golang I wrap with `WrapFunction` or `WrapFunctionWithContext` in which case the first argument of the function is the context..

In JS we can call with `context` as the `this` paramet

[2017-12-04 14:16] djmitche commented on #208
I bet it doesn't do that in Python, so probably not expected..

[2017-12-04 20:32] imbstack commented on #210
Sure, makes sense to fix if that makes more sense :)

[2017-12-04 20:36] imbstack commented on #208
Indeed

[code]

results in

[code]

So yeah, this is a bug I expect.

[2017-12-04 20:42] jonasfj commented on #208
probably we should make the python implementation throw a nicer error too :)

note, in the golang implementation I did an if-else and two different flows depending on whether I'm mapping an array or an object.. that made the code more readable too..

[2017-12-21 23:19] jonasfj opened #211 "$eval shouldn't render it's argument before evaluation"
[code]
becomes `9`

This is IMO wrong, it should be an error...

Similarly, we should permit:
[code]

This double rendering is unnecessary and allows for meta-programming, as we'll effectively be evaluating generated code when we run the interpreter on the result of the first render..

I also note that this prevents static analysis were we extract which global variables are referenced in all expre

[2017-12-21 23:24] djmitche commented on #211
I think you're right, let's get rid of it.

[2017-12-21 23:26] jonasfj opened #212 "$let shouldn't render it's value, only the values of keys assigned (no dynamic variables)"
Example:
[code]
Renders to `'hello jonasfj'`.

I propose that we forbid the `${'na' + 'me'}` part...

Instead we require that in `{$let: X, in: T}`, `T` is a template as is now, while we require that `X` is an object mapping from `^[a-zA-Z_][a-zA-Z0-9_]*$` to templates, and that we render these templates.

This prevents crazy things like what I did above... It also ensures that static analysis can

[2017-12-21 23:29] djmitche commented on #212
Agree :)

[2017-12-24 16:27] prachi1210 commented on #203
Hi,
Can I work on this?

[2017-12-24 16:50] jonasfj commented on #203
I see @djmitche self-assigned, but I'm sure you're welcome to chip in...

I'm guessing that fixing the `len()` function to return number of characters rather than bytes would be a good start...

Note. I made this bug slightly more complicated by adding a golang implementation :)

[2017-12-25 14:40] djmitche commented on #203
Hi Prachi!  It's good to hear from you again.  You are welcome to work on this.

Probably the best place to start is to write some tests in specification.yml that include multi-byte unicode characters, and then see how the different implementations behave.  As Jonas suggests, `len()` is a good place to start, with something like

[code]

I'm guessing, but I bet the Python implementation will get t

[2017-12-25 14:53] #211 closed

[2017-12-25 16:21] prachi1210 commented on #203
@djmitche both the JS and Python implementations seem to get it right..
But I'll check for Golang

[2017-12-25 18:06] prachi1210 commented on #203
When I try to run `go test jsone_test.go`  I am getting an `undefined:Render` error even though go get was successful. Am I doing something wrong?

[2017-12-26 14:22] djmitche commented on #203
Hm, it worked for me with go version 1.8.  What version are you using?

[2017-12-26 14:27] djmitche commented on #203
But good to hear about JS and Python!  Although since Jonas mentioned utf-16, I wonder if we need to test with an even wider character - I bet the snowman fits in a single utf-16 word.  "😆" is four bytes in utf-8 and six bytes in utf-16.  Maybe add a second test for that character?

[code]

[2017-12-26 14:38] prachi1210 commented on #203
I am using go version 1.9.2

[2017-12-26 14:56] djmitche commented on #203
Hm, @jonasfj may be able to help then.  Can you include the whole error message here?

[2017-12-27 09:36] jonasfj commented on #203
@prachi, if this is an issue unrelated to go, file a separate issue and flag me...

Probably you need to configure you golang install... And checkout on you go path... And do `go test -v ./...`

[2017-12-27 13:10] prachi1210 commented on #203
@jonasfj I am trying to figure it out. If it turns out to be a go-unrelated issue, I'll file a separate one. Thanks

[2017-12-27 16:16] prachi1210 commented on #203
I was able to run the tests for Golang and with the modified test case for unicode characters, the tests for python passed successfully while those for JS failed.

And since I've not used Golang before, is it possible that some of the tests are being skipped without any warnings as I am unable to reproduce a failing test for golang in unicode. This is what I get when I run `go test -v ./...`

[cod

[2017-12-27 16:32] jonasfj commented on #203
Since you're new to golang I have to ask if you checkout the code in you
`$GOPATH/src/github.com/taskcluster/json-e/` ? And have env vars `GOPATH`
and `GOROOT` setup correctly?

From you log it looks like it's not running all the tests, did they all run
before you made any changes? If not this is a separate issue, feel free to
file and we'll get you some help, or ping me on IRC in #taskcluster or

[2017-12-27 16:46] prachi1210 commented on #203
I found it, thanks! I was running the tests from `$GOPATH` directly earlier

[2017-12-28 19:22] djmitche commented on #203
So #217 fixed len.  Are there other issues, perhaps around string indexing and slicing?

[2017-12-29 15:46] prachi1210 commented on #203
A possible fix for this could be creating an array using keys in js and using a rune array in golang and then converting back to string after performing the operation viz. string indexing/slicing. I'll try it out and send a PR for the same, if it works

[2017-12-31 18:37] imbstack opened #218 "Demo site doesn't render on mobile safari"
The following error is in the console:

[code]

and the page is blank. I'm assuming this is some sort of weird webpack thing for now and will investigate a bit more. @eliperelman have you ever seen this before?

[2018-01-03 19:32] jonasfj commented on #212
This was fixed in #214

[2018-01-03 19:32] #212 closed

[2018-01-03 21:05] Biboswan commented on #208
Hi,

As per code and docs **Given an array, map returns an array, and given an object, the result is an object**.
But here in the example $map is an object but each(x) is an array so how can the arrays be merged into a final object.

What shall be the correct output?

[2018-01-03 21:10] djmitche commented on #208
I think it should be an error when `$map` is going to return an object but `each(x)` returns something that is not an object.

[2018-01-04 06:43] Biboswan commented on #208
We can throw an error or is it better to return something like [[hello,6],[test,10]] in such case.We are getting this array result normally then since $map is an object it tries to make that array into an object.

[2018-01-04 13:45] djmitche commented on #208
It's better to throw an error.

In general, languages should "error out" on bad inputs rather than do something clever.  If there is ever a consensus on what the language should do in that situation, it's easy to turn an error into some defined behavior.  It's *not* easy to change one clever behavior into another, as that breaks compatibility.

[2018-01-04 13:49] Biboswan commented on #208
Alright,as you say.

[2018-01-04 15:05] jonasfj commented on #208
I agree with dustin, it's better to throw an error... If in some future we want to invent a smarter logic we can do so later...

[2018-01-05 20:22] Biboswan commented on #218
Hi,
Well it doesn't render on desktop safari as well.But strangely it renders on running locally with some display issues.Interface section is displayed incomplete...

[2018-01-05 20:54] imbstack commented on #218
If it works locally but not on the production site, I expect it is some sort of webpack minification issue.

[2018-01-05 22:05] eliperelman commented on #218
Could be a Babel minification bug. You can try turning off the mangling option to see if it resolves.

[2018-01-07 00:55] #218 closed

[2018-01-08 01:15] escapewindow opened #222 "make sure $json sorts unicode strings the same across json-e implementations"
Per https://github.com/taskcluster/json-e/pull/221#issuecomment-355865572 :

[2018-01-08 21:12] escapewindow commented on #222
Per https://github.com/taskcluster/json-e/pull/221#pullrequestreview-87227483 :

[2018-01-08 21:24] djmitche commented on #222
BTW, I said "reasonable" just to exclude heroic things like writing our own JSON encoder or some-such.  I think we can get somewhere between 99% and 100% fidelity between languages with no heroism.

[2018-01-08 21:26] djmitche commented on #222
The task here is to check that unicode characters of all sorts (astral plane, etc.), when used as property names and passed to `{$json: ..}`, produce the same output.

[2018-01-09 19:03] #208 closed

[2018-01-12 12:00] Biboswan commented on #222
For the following test templates we get same result in both javascript and python implementations.

template: {$json: {'\u3347\u0050': 1, '\uE1FF\u0010': 2, '\u0055\u0045': 3}}
template: {$json: {'u005A\u10000\u0050': 1, '\u{E1FFF}\u0010': 2, '\u0055a\u0045': 3}}
template: {$json: {'e\u{E3FFE}\u732b':'hey', '\u0041\u0012\u107000':'hi', 'A\u{24000}':'hello'}}
template: {$json: {'e\u{E3FFE}\u732b':'

[2018-01-12 14:07] djmitche commented on #222
What is the expected sort order?  I'm not familiar with Unicode sorting, honestly.  And, if we're pretty confident that the languages all produce the same output, I'm not too concerned with whether that's sorted or not.

[2018-01-12 20:44] djmitche commented on #222
I don't think the console sorts its results:
[code]
so that's probably not the best thing to compare to.

Also, that test result looks like it's comparing strings with `\` and `u` and `{` characters in it, rather than one with unicode characters in it.

[2018-01-12 23:10] escapewindow opened #223 "json-e drops key/value pairs where the value is empty"
To get around this in cotv2 verification, I have to run my rebuilt definition and runtime definition through this function:

[code]

Ideally, we would keep the key/value pair with the appropriate empty value, or have an option to do so.

[2018-01-13 16:49] Biboswan commented on #222
I meant this
[code]
Yeah but if { is also compared its unicode is 007B but it comes after 007C  below.

[code]

[2018-01-13 22:33] djmitche commented on #223
Can you give an example of this behavior?

[code]

and I see a similar thing from JS in the [playground](https://taskcluster.github.io/json-e/#Playground)

Even if it did this, it would only be problematic if the languages behaved differently, right?

[2018-01-13 22:55] djmitche commented on #222
I don't think `\u` is a YAML escape code, so the strings you are comparing are `['\\', 'u', '0', '0', '1', '2', ..].join('')`, rather than actual unicode characters.

In YAML, I think we need to use double-quoted strings to get unicode escapes -- and no `{..}`.  Here's an example:

[code]

And at least the JS implementation in [the playground](https://taskcluster.github.io/json-e/#Playground/%7B%7

[2018-01-13 23:37] escapewindow commented on #223
Sure.

[code]

If you compare the output to https://queue.taskcluster.net/v1/task/L-d1CNGUQGuOs_-wckujtw , it' snot the same. It's problematic because I can't deterministically rebuild the task definition for cot v2 verification without removing empty key/value pairs. It's possible the code is adding key/value pairs after `jsone.render`, in which case this is an issue for the taskgraph generation.

[2018-01-13 23:47] escapewindow commented on #223
(I can try to get a smaller STR later)

[2018-01-14 03:02] escapewindow commented on #223
Hm, I think I'm reading this wrong. I think json-e does create `extra.action.context.taskId` of `None`, and `payload.env.ACTION_TASK_ID` of `"null"`. Somewhere in between task definition generation and retrieving it from the queue, those key/value pairs disappear. I haven't figured out where, yet, but it's likely this issue doesn't belong in this repo.

[2018-01-14 03:06] djmitche commented on #223
Hm, sorry, I'm still not seeing the repro -- one of those (from the Python) is a decision task, and one (L-d1CNGUQGuOs_-wckujtw) is an action task.  So they are quite different.  But I see e.g., `dependencies: []` in both..

However, I have a guess! Task definitions are broken up into fields like dependencies, payload, taskGroupId, .. in the queue service.  Most of them have default values, which

[2018-01-14 03:08] djmitche commented on #223
Ah just saw your update -- those sub-properties are definitely *not* defaulted in the queue -- it treats task.extra and task.payload as plain JSON blobs, and `null` is a valid JSON value so nothing should be deleting it.  So, yeah, a smaller STR might be good.

[2018-01-15 14:53] Biboswan commented on #222
Yeah after correcting YAML ,both gave proper and same results.I guess go implementation also needs to be checked.
Using go v1.9.2.getting go install: no install location for .go files listed on command line (GOBIN not set)
Not getting why.

[2018-01-15 17:03] djmitche commented on #222
To build a Go project, you have to have the project in a deeply nested directory structure called a GOPATH.  Try the [hello world](https://golang.org/doc/install#testing) to compare.  I have my copy of json-e at ~/go/src/github.com/taskcluster/json-e with my GOPATH=/home/dustin/go.

[2018-01-15 19:32] Biboswan commented on #222
Even golang produces same result.
However test cases fail in every implementation since result returned is in slightly different unicode representations corresponding to the language.

[2018-01-15 20:14] djmitche commented on #222
Hm, can you make a PR with the test cases so I can see the errors?

[2018-01-17 20:51] djmitche opened #225 "gometalinter failing"
[code]

Seen in #224 but unrelated to that patch as it does not modify any Golang.

[2018-01-18 17:16] escapewindow commented on #223
RIght now I'm guessing this is getting optimized out in the taskgraph code, but still just a guess. I'll try to narrow that down.

[2018-01-19 21:09] jonasfj commented on #225
This happens because gometalinter changes under us...

[2018-01-19 22:25] #225 closed

[2018-01-19 22:26] jonasfj opened #228 "pin the version of gometalinter used in CI"
new versions of gometalinter causes us to have errors in CI when other things change... This isn't nice.

[2018-02-01 22:17] djmitche commented on #193
Per #229 @jonasfj would like a more thorough solution..

[2018-02-01 22:22] jonasfj commented on #193
Okay, I was favoring deriving from git commit log, and just adding something to enforce a decent commit log:
https://conventionalcommits.org/

But I see the counter arguments..

[2018-02-02 20:20] jonasfj opened #230 "Build a sandboxed rendering mode for node (extra security)"
It would be nice if in node there was a sandbox rendering mode.

Something like:
[code]

Where `sandboxedRender` spawns a low privileged sub-process to do the rendering.
And ensures that said sub-process has a timeout...

The benefit is that if somehow there is a bug in the json-e interpreter, then you are still confined to the sandbox. This is strictly to harden security.

Complications include t

[2018-02-02 22:51] imbstack opened #231 "Create a codemirror mode and linter for json-e code"
You can see [here](https://github.com/taskcluster/taskcluster-tools/blob/98700a05254598c54d8ba074fc6236dc6dd83c76/src/components/ScopeEditor/scopemode.js) how to make custom linters and highlighters for codemirror wrapped in react-codemirror. If you decide to pick up this project, we can talk then about the specifics!

[2018-02-04 14:11] Biboswan commented on #231
Cool, let's have a talk.

[2018-02-04 19:06] djmitche commented on #230
Does this need to be done in the json-e library?  It's strictly a wrapper around JSON-e, and would likely introduce more dependencies that not all users would want.

I like the idea, though - in Python this would be pretty easy, and fast, with the multiprocessing module.

[2018-02-05 14:05] #193 closed

[2018-02-09 17:38] imbstack opened #232 "Demo site not rendering"
Error is that `section` is undefined.

[2018-02-09 17:45] #232 closed

[2018-03-23 11:40] shaikshakeel opened #234 "write our own method (function)"
Thanks for giving such a good library.

How can we implement our own methods in this library ?
in documentation you mentioned we can write `len()` function like below template
[code]
is there any possibility to write our custom functions like
[code]
Thanks in advance

[2018-03-23 15:01] djmitche commented on #234
Yes, such methods would need to be implemented in the native language (JS, Python, or Go) and supplied as a part of the context passed to the render method.

[2018-03-23 15:47] shaikshakeel commented on #234
thanks @djmitche

But i don't want to write those methods in context part, i have to provide a some custom methods, so that they can directly call in context part.

[2018-03-26 15:54] djmitche commented on #234
I can't quite parse what that sentence means, but the only option for introducing custom functions is to include them in the context.  JSON-e is not a general-purpose programming language.  Introducing function definitions would allow loops and violate the constraint that all JSON-e renders complete in finite time.

[2018-03-26 15:54] #234 closed

[2018-04-03 08:25] shaikshakeel opened #235 "Get index in map"
in map function

we can apply our custom transformation to each value of map(either array element or JSON key, value)

is there any possibility  to get index of element in case arrays ?
[code]

[2018-04-03 12:32] djmitche commented on #235
This sound OK to me.  Do you want to implement it?

[2018-04-03 12:57] shaikshakeel commented on #235
Mostly, trying to understand how map works in json-e :)

[2018-04-03 14:38] ahal opened #236 "Document typeof builtin"
Dustin pointed me towards a `typeof` builtin, but there's no reference to it in the docs:
https://github.com/taskcluster/json-e/blob/master/jsone/builtins.py#L104

[2018-04-09 13:25] shaikshakeel opened #237 "Truithness of operators"
In documentation you mentioned that null will be treated as false.

I am trying this example in python

Here example :
[code]

template :
[code]

i am expecting output as :
[code]
but i am getting output as :
[code]

[2018-04-09 13:37] djmitche commented on #237
Thanks for the reproduction!  In this case, you're not using `null` as a boolean -- rather, you're comparing a string (`data.started_at`) with `null`.  Those aren't equal, so JSON-e takes the "else" branch.

Drop the single quotes and you should see what you expect.

[2018-04-09 13:37] #237 closed

[2018-04-09 13:42] djmitche commented on #223
Since it looks like this is not a JSON-e issue, I'm going to close this.  Easy to re-open if it does turn out to be a JSON-e issue.

[2018-04-09 13:42] #223 closed

[2018-04-09 13:48] djmitche commented on #192
Our experience has shown that JSON-e is already pretty confusing for users, and that one good piece of clarity is for them to know exactly when it is applied.  Having it applied repeatedly, with different contexts, until completion, sounds even more confusing.

I see the appeal, in that given a partial context, we can partially render a template to get some intermediate value out of it.  For examp

[2018-04-09 13:48] #192 closed

[2018-04-09 14:00] jonasfj commented on #192
Fair enough... I was thinking of partial evaluation as useful for documentation and understanding how a json-e document behaves...

I think it would still be fun to implement if someone has too much time and wants to hack on something cool :)

[2018-04-09 14:02] djmitche commented on #192
Fun to implement, but won't get merged IMHO :)

[2018-04-12 05:06] wryun opened #238 "CLI tool for JSON-e"
Just wrote:

https://github.com/wryun/rjsone

Is it worth PR-ing (with some tests, perhaps...)? Or maybe you could link to it on the website?

[2018-04-12 16:09] djmitche commented on #238
That's really cool!

I think it makes sense as a separate project more than one incorporated in this repo.  But I'd love to have a link to it in the docs in this repo.  Do you want to make a PR to add that?

[2018-05-22 21:13] wryun commented on #238
Thanks!

[2018-05-22 21:13] #238 closed

[2018-06-14 20:20] imbstack opened #240 "Add builtin to convert string to number"
Sometimes it is useful to be able to explicitly do this.

[2018-06-20 22:47] #240 closed

[2018-06-24 10:26] mhalle opened #243 "provide a "map" API entry point"
The current API applies a template to a single context.  A standard API entry point that took a template and an array/iterator of contexts, returning an array/iterator of results, would save the cost of repeated template parsing.  This operation is equivalent to a "map" operator.

Such a method would allow, say, the rows of a table to transformed all at once using a row template.

One could always

[2018-06-24 20:51] djmitche commented on #243
I'm not sure this would be faster than just calling `jsone.render(templates[i], context)` in a loop.  JSON-e doesn't do any parsing (that's your job, if your input is in JSON or YAML or XML or whatever), so there's no savings on that point.

Have I misunderstood the idea?

[2018-06-24 21:50] mhalle commented on #243
This would be a replacement for

`jsone.render(template, context[i]);`

`const renderedArray = jsone.rendermany(template, contextArray);`

[2018-06-25 01:43] djmitche commented on #243
What's the advantage over `contextArray.map(context => jsone.render(template, context))`?

[2018-06-25 09:44] mhalle commented on #243
What's the overhead of parsing/interpreting the template per context?  You'll save that per invocation.

[2018-06-25 14:00] djmitche commented on #243
There's no parsing -- that's your responsibility before you call render.
The render is a single pass over the data structure, so while there's
probably room for optimization in the details, there's no fast win to be
had by skipping a pass over the template.

[2018-06-27 12:34] #243 closed

[2018-06-27 12:37] #222 closed

[2018-06-27 12:48] djmitche opened #244 "make boolean operators short-circuit"
Currently,
[code]
will fail because `data.y` is not defined.  In most languages, however, `&&` and `||` "short-circuit" by evaluating the left side first and, if the output is then completely determined (as it is here: false), skipping evaluation of the right side.

This is especially helpful when a template can take a few different kinds of input, distinguished by another context element.  For ex

[2018-06-28 21:14] djmitche commented on #244
Hm, this is not trivial with the parser design we are using: parsing is intermingled with evaluation, so there's no easy way to say "parse until the end of this expression, but don't try to evaluate the expression".

One option would be to have a property of the Context to indicate whether evaluation should take place, and set that to false in the RHS if short-circuiting.

Another option is to cha

[2018-07-03 01:01] djmitche opened #246 "Make typeof(null) be "null", not null"
See https://github.com/taskcluster/json-e/pull/245 where it turns out that this function has some unfortunate behaviors.

[2018-07-03 01:02] #236 closed

[2018-07-05 10:16] vipreshjha opened #247 "How do I use it in NodeJs or Browser??"
If I want to use in NodeJs
what's the NPM package name ?
What method/class is exposed by the package?

If I want to use in browser what file to include?

Nothing is documented any where except mentioning "import jsone from 'json-e';"
An example for working in browser and nodejs would be nice,

[2018-07-05 13:12] djmitche commented on #247
The node module is named "json-e".  Good ways to figure that out (all of which work in this case):
 * try the repo name
 * look for a `require` or `include` in the README
 * look in package.json
 * search on npmjs.com or yarnpkg.com

The [README](https://github.com/taskcluster/json-e#javascript) gives the interface.  It's just one function.  I'm sorry you missed it, but I'm not sure how we could m

[2018-07-06 11:28] vipreshjha commented on #247
Thanks @djmitche
I figured out the Interface name from documentation sorry to bother You about that (should have edited my question), but still figuring out the package name was difficult.
The interface name and package are not same most of the times.

The first section of ReadMe could be about installing it for diff languages with the full command
for eg for Node
             npm install json-e -

[2018-07-06 12:33] djmitche commented on #247
I take your point about adding an npm (or yarn) command line to the README - I will do that.  But note that the import or require line gives you the information you need -- `import .. from <pkgname>` or `require("<pkgname>")`.  That `pkgName` will always correspond exactly with the thing npm- or yarn-installed.

[2018-07-17 22:24] djmitche opened #249 "Allow value of $let to be evaluated"
[code]

As of right now, this is not legal, because the value of the `$let` is not evaluated -- it must be an actual object, the *values* of which are evaluated.  But we could just evaluate the whole thing and require that the result be an object (which is not then re-evaluated)

[2018-07-20 17:44] jgraham opened #250 "Allow some sort of numeric range creation"
https://github.com/web-platform-tests/wpt/pull/12109/commits/0c152be0c4c4b808ebd91f4abae18c2a0faa896c has a case where `json-e` is used for dividing up tests into chunks.
<details>
<summary>Example:</summary>
<pre>
      $flattenDeep:
        $map: [{name: firefox, channel: nightly}, {name: chrome, channel: dev}]
        each(browser):
          $map:
            - [testharness, 1, 15]

[2018-07-23 14:15] djmitche commented on #250
I agree that this would be convenient!

My concern is that we not add anything that might cause evaluation of untrusted inputs to be more "unsafe".  I realize that we're already at risk of exponential time/space usage via nested maps:

[code]
will, for example, happily crash a tab in Firefox.  So maybe this is no worse.

@jonasfj I know you gave some thought to sandboxing early in JSON-e's history

[2018-07-24 14:57] djmitche commented on #161
@owlishdeveloper one of the things I don't like about the proposal here is that it stringifies the value:

[code]

Then both `13` (the number) and `"13"` (the string) will produce `"thirteen"` as output.

You suggested `$match`, and that could potentially contain condition expressions in strings.  Something like
[code]

This is much closer to an if/elseif structure in that it's a series of conditi

[2018-07-24 16:12] owlishDeveloper commented on #161
Yes, that's exactly the idea, only I suggested `$when` because that way you can do not only:

[code]
But also check type:

[code]
or the presence of a value in some array that comes from context:

[code]
(The above basically just shamelessly stolen from kotlin)

[2018-07-24 16:14] owlishDeveloper commented on #161
(I'm not insistent on the naming, the important thing is what it can do)

[2018-07-24 16:57] djmitche commented on #161
We still need to stick to YAML formatting, so everything before the `:` is a single string:

[code]

equivalent to JSON `{"$when": "x", "$is 'string'": "blahblah"}`.

I'm also concerned about adding a bunch of new syntax like `$is` and `$in`.  In the syntax I suggested earlier, the object keys are just regular JSON-e expressions (like those used for `$if`).  The more Kotlin-style "when (<something

[2018-07-25 01:41] owlishDeveloper commented on #161
`$is` and `$in` are not needed for our purposes of simplifying the interface, it's just something that can be considered down the road if we need it.

Anyways, I do like the idea you are suggesting with `$match` there - it looks nice and simple.

[2018-07-25 01:47] owlishDeveloper commented on #161
The only thing I'd like to note is that it would be lovely if it weren't quite `switch` or `when` in the sense that they will let you go down just single branch (the one that matches). I would love this thingy to allow us to match _everything_ that matches. so that we could have

[code]
yielding Tasks[]: [task1, task2] for a push to master and [tas1] for a push to some other branch.

[2018-07-25 13:57] djmitche commented on #161
I think that would surprise people who are used to `match` (in other languages) picking exactly one alternative.  It also means that in the case where I want just one alternative, I'd get a list instead:

[code]
would yield `[]` or `["ten"]` or `["twenty"]`, which is pretty surprising.

We can already do what you're describing with `$if` without any awful indentation or nesting:

[code]

[2018-07-25 14:30] djmitche commented on #161
I think I have gotten lost from the case we're trying to solve.  Can you link to an example where things are awkward, and $switch or $match might help?

[2018-07-25 14:33] owlishDeveloper commented on #161
https://github.com/taskcluster/taskcluster-cli/blob/master/.taskcluster.yml

[2018-07-25 15:34] djmitche commented on #161
OK, that's

[code]

Is the main problem that we can't combine those into `(tasks_for == "github-pull-request" && event["action"] in ["opened", "reopened", "synchronize"] && event.pull_request.base.ref == "master") || (tasks_for == "github-push" && event.ref == "refs/heads/master")`?  I think that's actually due to #244 -- we can't refer to `event.pull_request` in that expression because the field

[2018-07-26 06:31] owlishDeveloper commented on #161
It would be lovely to address #244 as well. That was something of a surprise/annoyance to me too when I was working on `cli`'s yaml

[2018-07-26 13:39] djmitche commented on #161
Even if it's not the exact solution to this issue, I think $switch / $match is going to be a good addition to the language.. so maybe we should get implementing? :)

[2018-07-26 14:31] owlishDeveloper commented on #161
yaaaaassss 😋

[2018-08-24 17:23] jgraham opened #252 "Throw a useful error for `$then`"
At present writing
[code]

generates something of type `null`, when it should probably be a syntax error informing the user that `$then:` should be spelled `then:` (no `$`).

[2018-09-18 19:50] djmitche commented on #161
Fixed in #251.

[2018-09-18 19:50] #161 closed

[2018-09-18 19:53] djmitche opened #256 "$matchOne, a variant of $match"
I wanted to do this:

[code]
https://hg.mozilla.org/try/rev/d39a2a66e72d

But the result was `{priority: ['low']`}` -- the array is unnecessary and undesired.  But it's there since in principle more than one of the options might have matched.

So, this issue proposes an operator similar to `$match`, but where exactly one option must match or the operator fails; and the result does not have an arra

[2018-09-18 19:55] djmitche opened #257 "$matchOne, a variant of $match"
I wanted to do this:

[code]
https://hg.mozilla.org/try/rev/d39a2a66e72d

But the result was `{priority: ['low']`}` -- the array is unnecessary and undesired.  But it's there since in principle more than one of the options might have matched.

So, this issue proposes an operator similar to `$match`, but where exactly one option must match or the operator fails; and the result does not have an arra

[2018-09-19 20:43] djmitche commented on #256
Bad network made this submit twice, sorry (see #257)

[2018-09-19 20:43] #256 closed

[2018-09-20 12:51] Callek commented on #257
Slight preference for $matchOne with the added caveat that I want it deterministic so I feel if more than one match we should fail out when it's used

[2018-09-20 12:56] djmitche opened #258 "Ensure that $match output is deterministic"
[code]
if both conditions are true, does this come out to `[1, 2]` or `[2, 1]`?  Order of object properties is undefined!  We want json-e output to always be deterministic, so we should definitely test it.  If it's not deterministic, a simple fix might be to sort the properties (`x < 10`, `y > 20`) lexically.  We just need an order, it doesn't have to make sense :)

[2018-09-20 12:58] djmitche commented on #257
Thanks, and agreed regarding determinism!  Which reminds me, #258.

[2018-09-24 10:36] djmitche commented on #258
Closed in #259.

[2018-09-24 10:36] #258 closed

[2018-10-22 21:18] owlishDeveloper commented on #257
isn't that a `$switch`?

[2018-10-22 21:37] djmitche commented on #257
That is probably a better name :)

[2018-10-24 21:30] djmitche opened #260 "dustin is dumb"
Sorry, I hit the wrong issues/new in my browser history

[2018-10-24 21:30] #260 closed

[2018-10-30 20:51] alexandrasp commented on #246
dustin, I took a look here and push a new PR to try to solve it!

[2018-10-31 23:52] #246 closed

[2018-12-05 20:19] mitchhentges opened #262 "Allow $let: $if without else"
For the following template:
[code]
If `c` is not "item", then the template fails to compile (and with a bit of a misleading error message):

This can be worked around by adding a blank `else`:

[code]

Instead, it would be ideal if you could omit the `else`, like you can when using `else` in other situations.
When this case is triggered, the variable you specified should remain unset.

-----

Exam

[2018-12-14 21:57] mitchhentges opened #263 "Allow using variables defined above in same $let"
I have some values that I calculated in advance for my task definition. Some of these values depend on each other. For example, right now, I have:

[code]

I'd love to be able to use items defined in the `$let` to be used in the values produced below. If this were the case, I could simplify the above to:

[code]

[2018-12-14 22:07] djmitche commented on #263
The downside is, order isn't defined in a JSON object, so the notion of "above" is a purely textual one that is not represented in the data structures on which json-e operates.

We could possibly offer a more complex syntax that uses an array to enforce some ordering.. maybe something like

[code]

If we did that, I think we'd want to enforce that each array item is a single-property object (or si

[2018-12-14 22:14] mitchhentges commented on #263
I was just thinking about that array-form after making my comment, yeah :thinking:
I'd worry that it would be very easy to miss the `-`, then be confused why variables aren't "trickling" down like they "should".

You _could_ burden `json-e` with the complexity of allowing the definitions in an object, then hoisting/ordering the entries until the dependencies "work out" (erroring if there's a cycli

[2018-12-14 22:19] djmitche commented on #263
Yeah, I can see that being really slow.  I think enforcing that either all entries have `-` or none of them do (or equivalently, that the value of the $let prop is either an array of one-property objects, or a single object) would help with forgetting the `-`.

Let's see what @owlishDeveloper thinks :)

[2018-12-14 22:47] djmitche commented on #263
I don't think a breaking change is going to be a good idea.  Most uses of JSON-e I know of would never be able to upgrade over that breaking change.

[2018-12-14 22:51] mitchhentges commented on #263
It would definitely take a significant time (and effort) to update all usages of `$let` to be in array-format instead, so I agree that it's potentially not worth it.

Yeah, :apple: for :thought_balloon:, looking forward to getting owlish's input, too

[2019-01-28 10:01] edmorley opened #266 "Remove usage of Node built-in 'assert'"
Hi!

Treeherder uses `json-e` in the browser, for the taskcluster actions feature - eg:
https://github.com/mozilla/treeherder/blob/23036375f9faec4c0f343e51024eb7feb2195c45/ui/models/taskcluster.js#L41

In the upcoming webpack 5, webpack no longer automatically polyfills node built-ins in imported libraries in an effort to reduce unintended bundle size bloat.

Trying webpack 5 out against Treeherde

[2019-01-28 10:04] edmorley opened #267 "ESLint configuration not detecting unused variables"
It appears that the current ESLint configuration doesn't pick up the following unused variable (or alternatively isn't being run in CI; I haven't looked closely):
https://github.com/taskcluster/json-e/blob/24a97f3474bc4e9625b17d3b6e91f9ff99eef380/src/index.js#L3

It might be worth switching to eg `airbnb-base`, to ensure maximal coverage. (This can optionally be combined with the ESLint Prettier c

[2019-01-28 18:49] #266 closed

[2019-01-28 18:52] djmitche opened #269 "Switch from gometalinter to golangci-lint"
gometalinter changes all the time, meaning that it starts failing for silly reasons (like adding or removing a linter) and causes PRs to go red.  golangci-lint seems a lot more stable (it's what I'm using for websocktunnel).  Let's switch to that.

[2019-01-29 16:20] edmorley commented on #266
Thank you :-)

[2019-01-30 19:08] #269 closed

[2019-01-30 19:10] imbstack commented on #267
We've switched to just using the `eslint:recommended` set of rules and should catch these now!

[2019-01-30 19:10] #267 closed

[2019-02-04 22:44] igor47 opened #273 "add a defined(..) function to determine whether a context variable is defined"
currently, if i use an unset variable in an `{$if}` then i get an error. i think an `{$if}` block should handle undefined variables like they're false. in other words, currently:

[code]

should instead be:

[code]

[2019-02-04 22:51] djmitche commented on #273
My impression is that languages which handle missing variables by picking default values (Perl and PHP come to mind, along with old, non-strict JS's) tend to lead to difficult-to-maintain code.

JSON-e's lack of a short-circuiting logical operator (#244) makes this a little more annoying in JSON-e, since there's no way to guard an expression like `{$if: "renderType = 'bar' && someBarOnlyVariable =

[2019-02-04 23:02] igor47 commented on #273
a `defined` function would be fine, and i appreciate explicit vs implicit handling.

[2019-02-07 14:56] ericfong opened #274 "How to escape $ in string interpolation? want to output "$12" from "$${price}""
Hi,

I would like to output "$12" from "$${price}"

but
[code]

How can I escape $ that right next to ${}?

I know I can
[code]
but price and $ sign will have a space

And I found that I can
[code]
It look like very hacky to me

[2019-02-07 15:13] djmitche commented on #274
Here's a slightly less-hacky way to do it: [`"${'$' + str(price)}"`](https://taskcluster.github.io/json-e/#Playground/%7Bprice%3A%2010%7D&%22%24%7B'%24'%20%2B%20str(price)%7D%22).

But you're right, [this progression](https://taskcluster.github.io/json-e/#Playground/%7Bprice%3A%2010%7D&%5B%0A%22%24%7Bprice%7D%22%2C%0A%22%24%24%7Bprice%7D%22%2C%0A%22%24%24%24%7Bprice%7D%22%2C%0A%22%24%24%24%24%7Bpr

[2019-02-08 03:33] ericfong commented on #274
Thanks

I think [`"${'$' + str(price)}"`](https://taskcluster.github.io/json-e/#Playground/%7Bprice%3A%2010%7D&%22%24%7B'%24'%20%2B%20str(price)%7D%22) is good enough.

I think we better add this into [String Interpolation Doc](https://taskcluster.github.io/json-e/#Language/string-interpolation)

[2019-02-08 13:58] #274 closed

[2019-02-08 13:59] djmitche commented on #274
That's a good point -- do you want to make a pull request to add that to the docs?

[2019-02-11 23:00] djmitche commented on #228
We just dumped gometalinter and switched to golangci-lint.

[2019-02-11 23:00] #228 closed

[2019-02-28 16:47] djmitche opened #276 "Error message has incorrect JSON path"
template:
[code]
context:
[code]
result:
[code]

*Expected*: `TemplateError at template.tasks.$flattenDeep[2]['each(operation)'][0].$if: ..`

So the path within the JSON is not correct..

[2019-02-28 16:48] djmitche commented on #276
(NOTE: I see this error with the Python implementation, but @jgraham saw the same from taskcluster-github (so, JS) in https://github.com/web-platform-tests/wpt/commit/218466a7883ab2130645e896bcd379f430eae1fd#comments

[2019-03-11 12:42] srfraser opened #281 "gh-pages url is blank"
https://taskcluster.github.io/json-e/ has an empty page as content, and the history appears to show it's been there for some time. Should the links in the project description and README be pointing elsewhere?

The docs appear to be at https://docs.taskcluster.net/docs/reference/libraries/json-e - is that authoritative source of them?

[2019-03-11 13:18] djmitche commented on #281
No, that should be working, and was until recently.

[2019-03-11 13:27] djmitche commented on #281
Looks like it's back, after reverting 4a9e39d0b708abb841d899d904fda4a90bba750e.  So I guess rebass isn't following semver!

[2019-03-11 13:27] #281 closed

[2019-03-11 13:31] djmitche opened #282 "Update react, etc. in json-e demo"
React is the standard browser-side technology at Mozilla these days, so we should keep up-to-date with it.

We should also have some unit tests for the demo, at least making sure that the playground works properly.  Otherwise it's difficult to upgrade dependencies of the demo without breaking things.

[2019-03-28 12:17] mitchhentges opened #283 "Error message: differentiate path/variable from the rest of the message"
**Reproduce:**
Template:
[code]
Context:
[code]

In the python implementation, I'm getting the error:

This threw me off, since I didn't initially realize that "after" was the specific property that was missing. I assumed that the error message was describing that the issue happened "after" a property wasn't found.
Perhaps the variable could be quoted? Perhaps something like:

:thinking:

[2019-03-28 17:09] djmitche commented on #283
I like it.

[2019-03-29 14:35] mitchhentges opened #284 "Playground: allow copy-paste from output"
For example, from [this linked playground](https://taskcluster.github.io/json-e/#Playground/%7B%7D&version%3A%201%0Atasks%3A%0A%20%20%23%20NOTE%3A%20support%20for%20actions%20in%20ci-admin%20requires%20that%20the%20%60tasks%60%20property%20be%20an%20array%20*before*%20JSON-e%20rendering%0A%20%20%23%20takes%20place.%0A%20%20-%20%24let%3A%0A%20%20%20%20%20%20taskgraph%3A%0A%20%20%20%20%20%20%20%20br

[2019-03-30 18:02] Mozilla-GitHub-Standards opened #285 "CODE_OF_CONDUCT.md isn't correct"
**Your required text does not appear to be correct**

As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are requir

[2019-04-01 13:54] ccooper commented on #285
Fixed in place

[2019-04-01 13:54] #285 closed

[2019-04-22 18:23] mitchhentges opened #287 "[python] Define python_requires in setup.py to show compatibility with both py2 and py3"
I've discovered that the `json-e` library doesn't support Python 3 - for example, when running `jsone.render(...)`, the strings in the task payloads had byte prefixes in the strings themselves, such as: `"b'A1k6Dd-jRr-KQnccuFjc2A'"`.

Perhaps we can use the [`python_requires`](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires) property in `setup.py` to doc

[2019-04-23 14:55] djmitche commented on #287
I *does* support Python 3, so this is a bug :)

It sounds like the bug is actually in whatever is providing slugids?  I seem to recall a patch to slugid-py to generate slugids as strings (rather than bytes), but I can't find it now.

[2019-04-24 12:54] mitchhentges commented on #287
Aha, right, this caused by the [`slugid`](https://pypi.org/project/slugid/) library, not `json-e`!
I thought that `slugid` was an `install_requires` of `json-e`, but it looks like I'm mistaken.

-----

It might still be worth defining `python_requires` in `setup.py`, I'll do a PR :smile:

[2019-04-24 13:40] #287 closed

[2019-04-26 14:35] djmitche opened #289 "Make a rust implementation"

[2019-04-27 00:13] owlishDeveloper commented on #244
I am going to follow the second path:

[2019-05-01 18:35] djmitche opened #291 "Pip is failing in CI"
https://tools.taskcluster.net/groups/Eyhpp848TgaVp9WG2Mh0hw/tasks/XSex0APyQja72veS3F5vrg/runs/0/logs/public%2Flogs%2Flive_backing.log

`ERROR: Error installing 'file:///repo': editable mode is not supported for pyproject.toml-style projects. pip is processing this project as pyproject.toml-style because it has a pyproject.toml file. Since the project has a setup.py and the pyproject.toml has no "b

[2019-05-01 21:39] #291 closed

[2019-06-04 10:53] siwalikm opened #294 "I'm using this package with TS and noticed there's no type definition (index.t.ds) file for the npm package"
There's no type definition for this package, would you be interested in adding one if I raised a PR for the same? @djmitche

[2019-06-04 12:38] djmitche commented on #294
Sounds fine to me!

[2019-06-16 07:07] ezzatron opened #299 "Consider replacing json-stable-stringify dependency for OSS licensing reasons"
The [json-stable-stringify](https://www.npmjs.com/package/json-stable-stringify) library you currently depend on does not have a license. There are many alternatives depending on your needs, but perhaps the most popular is [json-stable-stringify-without-jsonify](https://www.npmjs.com/package/json-stable-stringify-without-jsonify).

There are performance-oriented alternatives too, such as [fastest-

[2019-06-16 13:14] djmitche commented on #299
Ah, thanks for finding that!

[2019-06-25 15:37] #299 closed

[2019-07-08 16:46] djmitche opened #304 "Update & Improve Demo Site"
Details TBD

[2019-07-08 16:50] djmitche commented on #304
The demo site is a bit clunky to use right now -- especially the playground.  The task here is to fix some of those rough edges and make the interactions smoother.

[2019-07-08 17:00] #235 closed

[2019-07-08 17:02] djmitche opened #305 "Allow sandboxing by time or space complexity"
From #250:

How could we prevent this?

[2019-07-08 17:04] djmitche commented on #305
dup #230

[2019-07-10 08:51] #294 closed

[2019-07-10 17:00] djmitche commented on #168
There's still work to do here.  To find it, look for `error: true` in `specification.yml`.  This means "there should be an error" but doesn't say what the error should be.

So, to make a PR to address this, find a section of that file containing `error: true` and change it to give a string (for example, `error: 'InterpreterError: infix: ** expects number ** number'`), then test that all languages

[2019-07-25 19:38] ruchikabgosain commented on #283
Hello @mitchhentges is this issue available?

[2019-07-25 20:17] mitchhentges commented on #283
@ruchikabgosain hey! I'm not working on this issue, I think you're all clear :smile:

[2019-08-28 08:23] LorenzHenk opened #316 "Typescript template type doesn't allow string"
First of all: Thanks for adding Typescript types!

There is a small problem with your type definition, as the `jsone` function allows the template to be `string` as well, but this is not reflected in the types.

[2019-08-30 06:43] #316 closed

[2019-08-30 12:39] djmitche commented on #289
(unassigning myself so this stops showing up in TaskWarrior -- no deeper meaning!)

[2019-08-30 12:39] djmitche commented on #289
And while I'm here, I should note that @owlishDeveloper and I are working on this and progress is at https://github.com/taskcluster/json-e/tree/rust

[2019-09-03 19:42] djmitche opened #318 "Confusing error message when indexing a string with a string"
[code]
will fail in the Python implementation with an error like `InterpreterError: infix: [..] expects integer [..] integer`.  That's not very helpful!  Let's add a test and give a better error message, consistently across all supported implementation languages.

[2019-09-08 19:34] bollwyvl opened #319 "JSON-E template Media/MIME type?"
Thanks for JSON-e!

Has anyone started a convention around a media type for JSON-e templates? I've been tinkering with some [JSON-e for jupyter](https://github.com/deathbeds/wxyz/pull/14) where we use them rather a lot for the hand-off between client and server, rendering, registering syntax modes, etc.

I guess the end-state would be an [IANA registration](https://www.iana.org/assignments/media-t

[2019-09-09 12:04] djmitche commented on #319
Thanks for using json-e!

I've never participated in a media type registration before, so it's hard to know even if it's appropriate here.  Do you have an example of a similar media type and its registration process?

[2019-09-09 18:45] bollwyvl commented on #319
Thanks for writing and open sourcing it!

I've never done a "real" mime type either! But the vnd namespace is meant
just for such ad hoc things. We've made/adopted a few:

https://jupyter.readthedocs.io/en/latest/reference/mimetype.html

A file pre-suffix family might also be reasonable, e.g. .e.json, .e.yml,
e.yaml

Really just having a note in the docs would be sufficient: if it's
documented, it

[2019-09-09 20:03] djmitche commented on #319
Per https://tools.ietf.org/html/rfc6838#section-5.1, it looks like we should run it by `media-types@iana.org mailing` first.  I'm happy to do that, but I'd like to understand what I'm asking for first.  So, I'm curious why you added `.v3` in there, and I'm not sure what you meant by `$version`.  Can you explain more?

[2019-09-09 20:30] bollwyvl commented on #319
If the list of $keywords grows (or especially shrinks!) or the meaning of a
$kw changes, an implementation wouldn't know how to handle it until it
failed to process. Putting v3 in the type name or a required $version in
the root of (a future version of) the spec would make it unambiguous.

Alternately, specifying a (versioned) $schema would do the trick, but I
haven't fully groked whether that's e

[2019-09-20 18:47] mozbhearsum opened #320 "`expects.sort is not a function`"
I got the above error with this template and context (edited to use minimal STR):
[code]

context:
[code]

Also reproducible on https://taskcluster.github.io/json-e/#Playground, although it shows up as `t.sort is not a function`.

The issues turned out to be a missing `]`, but the error didn't make it easy to discover that.

[2019-09-20 20:54] djmitche commented on #320
@mozbhearsum can you boil that repro down a little?  If so, fixing this might make a good contributor bug (in general, error handling is pretty weak).

[2019-09-23 13:31] djmitche commented on #319
I sent a message to the IETF list.  Sorry for the delay!

[2019-09-23 13:32] djmitche commented on #319
Archive: https://mailarchive.ietf.org/arch/browse/media-types/?qdr=d

(message is still awaiting moderation)

[2019-09-23 23:05] bollwyvl commented on #319
Exciting stuff!

On Mon, Sep 23, 2019, 09:32 Dustin J. Mitchell <notifications@github.com>
wrote:

[2019-09-24 13:15] djmitche commented on #319
It looks like, despite what the RFC says, we must register this, which requires filling out the template:

https://tools.ietf.org/html/rfc6838#section-5.6

Can you paste that here and I will forward it to the list?  I'm happy to be "Change Controller".

[2019-09-24 13:18] djmitche commented on #319
(I'm also happy for you to follow up directly to the list -- I don't have much time to work on this but I support it happening)

[2019-10-02 12:39] Nicrii commented on #262
@owlishDeveloper I’d like to work on this issue

[2019-10-02 16:49] contrepoint commented on #318
Hi @owlishDeveloper, may I work on this issue? Thank you!

[2019-10-02 16:55] owlishDeveloper commented on #318
All yours!

[2019-10-03 11:20] Nicrii commented on #273
@owlishDeveloper I’d like to work on this issue

[2019-10-03 14:20] echessa commented on #283
Hi @owlishDeveloper can I work on this.

[2019-10-03 14:53] katherine95 commented on #282
@djmitche. I can take this up.
About writing tests, is it end to end tests or integration tests?

[2019-10-03 14:57] djmitche commented on #282
Hi @katherine95.  This issue is related to the JSON-e project, for which @owlishDeveloper is the mentor.

[2019-10-03 15:04] djmitche commented on #283
@echessa this issue is for the [JSON-e-related Outreachy project](https://www.outreachy.org/december-2019-to-march-2020-internship-round/communities/mozilla/implement-short-circuit-evaluation/cfp/) which has its own required first steps described in that page.  You're welcome to apply to that project as well!

[2019-10-03 15:06] owlishDeveloper commented on #283
Hi @echessa Dustin is correct. These issues here are reserved for the applicants for that project. You are more than welcome to apply for it! To apply, you need to set up your development environment, run the tests and send me the screenshots of the successful test run. I will then assign the issue to you.

[2019-10-03 15:16] echessa commented on #283
@owlishDeveloper I already sent the screenshots.

[2019-10-03 15:51] olsenme commented on #257
I'd like to work on this issue

[2019-10-03 16:40] katherine95 commented on #282
Thanks @djmitche.
@owlishDeveloper I would like to work on this one

[2019-10-03 17:47] owlishDeveloper commented on #283
Thank you @echessa ! This issue is all yours!

[2019-10-03 17:52] owlishDeveloper commented on #257
@olsenme  have you sent me the screenshots?

[2019-10-03 18:37] owlishDeveloper commented on #262
Fixed in #323

[2019-10-03 18:37] #262 closed

[2019-10-03 18:37] owlishDeveloper commented on #273
@Nicrii all yours!

[2019-10-03 22:32] osumgbachiamaka commented on #252
@owlishDeveloper when i run the python test in the virtual env i created it passes, but when i run it outside it keeps returning this error -
pkg_resources.VersionConflict: (attrs 18.2.0 (/usr/lib/python2.7/dist-packages), Requirement.parse('attrs>=19.2.0'))

[2019-10-04 06:11] owlishDeveloper commented on #252
@osumgbachiamaka please do not work on this issue without asking and having it assigned to you first. If you'd like to apply for the JSON-e project, the first task is to setup your development environment and send me the screenshots of your successful test runs for all three implementations. Thank you!

[2019-10-04 08:22] owlishDeveloper commented on #252
@osumgbachiamaka Received your screenshots, thank you! Assigning this issue to you.

[2019-10-04 08:34] terrameijar commented on #249
@owlishDeveloper I would like to try my hand at this issue. Could you please give me pointers on how to approach it? What is the best way to make sure `$let` gets evaluated?

[2019-10-04 09:07] terrameijar commented on #168
@owlishDeveloper I am interested in taking this one on as well. One question I have is how do I "test that all languages give that exact error message" ?

[2019-10-04 09:26] sonjita commented on #210
Hi @owlishDeveloper and @jonasfj. Can I start working on this issue?

[2019-10-04 09:45] stuartelimu commented on #283
Can I work on this issue too ?

[2019-10-04 09:47] stuartelimu commented on #318
can i work on this issue ?

[2019-10-04 10:01] stuartelimu commented on #249
can i work on this issue

[2019-10-04 10:06] stuartelimu commented on #257
Can I work on this issue?

[2019-10-04 10:14] echessa commented on #283
Hi @stuartelimu I'm currently working on it. There are other unassigned [good first issues](https://github.com/taskcluster/json-e/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)

[2019-10-04 11:52] owlishDeveloper commented on #210
jonasfj doesn't work on json-e anymore :)

[2019-10-04 11:58] owlishDeveloper commented on #168
@terrameijar you must setup your development environment and send me the screenshots of the successful test runs first. Please do not work on this issue before I get your screenshots. Thank you!

[2019-10-04 12:05] owlishDeveloper commented on #257
@stuartelimu it's all yours!

[2019-10-04 12:07] owlishDeveloper commented on #249
@terrameijar before starting working on the issues, you have to setup your development environment, successfully run the tests and send me the screenshots of the successful test runs. Thank you!

@stuartelimu issues can be worked on only one at a time. You already have one assigned. Thank you!

[2019-10-04 12:08] owlishDeveloper commented on #249
@richardgreg did you mean you would like to work on this issue?

[2019-10-04 12:10] owlishDeveloper commented on #283
@stuartelimu this issue is already assigned. I assigned another issue to you. Please be patient! Thank you!

[2019-10-04 12:17] stuartelimu commented on #283
thank you, am a bit new to this that's why i asked for multiple issues am
so sorry and thank you. i appreciate

On Fri, Oct 4, 2019 at 3:10 PM owlishDeveloper <notifications@github.com>
wrote:

[2019-10-04 12:18] stuartelimu commented on #257
thank you, on it now

[2019-10-04 12:22] stuartelimu commented on #257
thank you so much

On Fri, Oct 4, 2019 at 3:05 PM owlishDeveloper <notifications@github.com>
wrote:

[2019-10-04 13:05] vishakhanihore commented on #249
@owlishDeveloper I have successfully set up the project. Can you please tell me your email-id ?

[2019-10-04 13:15] terrameijar commented on #168
@owlishDeveloper I have the environment setup, and the tests pass. I sent you screenshots to your email 2 days ago.

[2019-10-04 14:33] osumgbachiamaka commented on #249
@owlishDeveloper can i have this task please

[2019-10-04 14:35] vishakhanihore commented on #249
@owlishDeveloper Sent you ss, Please assign

[2019-10-04 15:26] osumgbachiamaka commented on #244
@owlishDeveloper can i work on this task

[2019-10-04 16:36] richardgreg commented on #249
@owlishDeveloper yes, please!

[2019-10-04 16:51] owlishDeveloper commented on #168
@terrameijar oh you're Vuyisile! I haven't realized this was your github handle. Sure, you can work on this issue!

[2019-10-04 16:59] owlishDeveloper commented on #210
@sonjita The issue is assigned to you!

[2019-10-04 18:12] owlishDeveloper commented on #249
@richardgreg asked first (terrameijar already has another issue assigned), so this issue goes to richardgreg!

[2019-10-05 05:05] echessa commented on #284
Hi @owlishDeveloper I completed my previous task. I would like to have a go at this one.

[2019-10-07 06:45] owlishDeveloper commented on #318
Fixed in #324

[2019-10-07 06:45] #318 closed

[2019-10-07 07:47] owlishDeveloper commented on #244
@osumgbachiamaka no :) This task is the Outreachy project :)

[2019-10-07 07:49] owlishDeveloper commented on #284
@echessa the task can be considered as "completed" when the PR is merged

[2019-10-07 07:50] owlishDeveloper commented on #282
@katherine95 are you intending to apply for the JSON-e Outreachy project?

[2019-10-07 08:06] owlishDeveloper commented on #283
Fixed in #327

[2019-10-07 08:06] #283 closed

[2019-10-07 08:12] osumgbachiamaka commented on #244
I am an outreach applicant @owlishDeveloper

[2019-10-07 08:23] katherine95 commented on #282
Yes I am

[2019-10-07 10:44] echessa commented on #284
@owlishDeveloper I understand.

Now that my PR (327) has been merged, can I give this a go?

[2019-10-07 11:02] owlishDeveloper commented on #273
Fixed in #326

[2019-10-07 11:02] #273 closed

[2019-10-07 11:12] owlishDeveloper commented on #282
@katherine95 the first task in applying for that project is to set up your development environment and send me the screenshots of successful test runs. Have you already done that?

[2019-10-07 11:13] Nicrii commented on #158
@owlishDeveloper I’d like to work on this issue

[2019-10-07 11:13] owlishDeveloper commented on #158
@Nicrii you're very welcome to it!

[2019-10-07 11:14] owlishDeveloper commented on #284
@echessa yes!

[2019-10-07 11:15] echessa commented on #284
@owlishDeveloper thanks!

[2019-10-08 07:42] terrameijar commented on #168
@owlishDeveloper Thanks for assigning the issue to me. I hadn't realised there are so many test cases to go through :D This will take me a few days.

[2019-10-08 10:00] terrameijar commented on #168
Added error messages for `builtins` and `infix` errors. 261 test cases to go.

[2019-10-08 15:33] contrepoint commented on #276
Hi @owlishDeveloper - as discussed, I'd like to work on this issue. Thanks!

[2019-10-09 08:07] richardgreg commented on #249
@djmitche pls could you provide the result for the JSON-e statement you wrote, assuming the issue has been resolved?

[2019-10-09 10:38] owlishDeveloper commented on #249
@richardgreg  in that particular example the result should be `30`. Let me amend the example a bit:

[code]
Here, is `something` evaluates to `true`, the result should be `30`, otherwise `20`

[2019-10-10 14:42] echessa commented on #284
Hi @owlishDeveloper I've added functionality to copy the Results to clipboard, but before I commit my changes, I wanted to get your input on the UI.

I added a `copy json-e` text to the top-right of the Results box.

![](https://raw.githubusercontent.com/echessa/imgs/master/jsone/img01.png)

As you can see, I styled it similar to the `copy link to this example` at the bottom of the Results page. O

[2019-10-14 18:23] katherine95 commented on #282
@owlishDeveloper as of now I will not be able to take this up. Let me finish on another task am working from pontoon and taskcluster

[2019-10-16 18:19] escapewindow commented on #210
This may have been resolved in years past. I know that for Chain of Trust verification, we specify `now` in the context, so our re-generated task datestrings match the previously generated task's.

[2019-10-16 18:26] escapewindow opened #331 "string replacement or regex support"
Related: #203 .

We do a lot of `url[8:]` to strip the `https://` off of a url. This doesn't work if we start using, say, `ssh://` urls. I was originally wondering if url parsing might be useful to add, but it might be more generally useful to add string replacement or basic regex support.

(If we go the regex route, we need to remember there are different implementations of regex in various langu

[2019-10-16 22:50] owlishDeveloper commented on #252
Fixed!

[2019-10-16 22:50] #252 closed

[2019-10-17 00:32] owlishDeveloper commented on #210
@sonjita how's it going?

[2019-10-17 00:33] owlishDeveloper commented on #168
@terrameijar it's ok to split the work and make smaller PRs!

[2019-10-18 07:15] echessa commented on #284
Hi @owlishDeveloper what do you think of my query above? I wanted to get your input before I proceeded with the Pull Request.

[2019-10-18 07:16] terrameijar commented on #168
@owlishDeveloper  gotcha!

[2019-10-19 00:14] owlishDeveloper commented on #158
Fixed https://github.com/taskcluster/json-e/pull/330

[2019-10-21 04:39] oksmelnik commented on #210
I'd like to work on this issue (outreachy applicant)

[2019-10-21 14:03] richardgreg commented on #118
@owlishDeveloper I would like to work on this!

[2019-10-22 06:15] richardgreg commented on #210
@owlishDeveloper I don't mind taking a shot at this!

[2019-10-22 21:32] owlishDeveloper commented on #320
Fixed in #333

[2019-10-22 21:32] #320 closed

[2019-10-23 22:26] terrameijar commented on #168
A second PR for the same issue: #334

[2019-10-24 06:22] oksmelnik commented on #210
working on it

[2019-11-01 21:50] #249 closed

[2019-11-11 17:56] #319 closed

[2019-11-18 16:51] richardgreg commented on #257
@stuartelimu are you still working on this issue?

[2019-11-18 20:11] stuartelimu commented on #257
Yes, I submitted a draft PR.  @owlishDeveloper is reviewing it

[2019-11-21 17:40] jgraham opened #338 "UnicodeEncodeError with Python 2"
[code]

The offending text (with some context) is `u'rm specs \u2014 including'`

[2019-11-21 18:05] djmitche commented on #338
I think there are a few issues with unicode handling in Python 2.  I'll try to make a minimal fix here, and hopefully these will just "go away" when Python 2 does.

[2019-12-17 14:31] #338 closed

[2020-01-09 21:14] owlishDeveloper commented on #210
I just tried it in playground, and indeed it works. I am going to close this as it appears to be fixed.

[2020-01-09 21:14] #210 closed

[2020-01-09 21:17] owlishDeveloper commented on #257
an update: this issue is still open and relevant.

[2020-01-10 17:20] owlishDeveloper commented on #168
Thank you @terrameijar ! Now we have only 58 to go

[2020-01-30 16:13] djmitche opened #341 "defined() is not documented"
This builtin exists in at least one language, but appears not to be documented /cc @sfraser @tomprince

[2020-01-30 21:27] srfraser commented on #341
It seems the feature was merged in https://github.com/taskcluster/json-e/pull/326 but there doesn't seem to have been a release since then, it's not in 3.0.0 on pypi.

[2020-02-03 18:43] djmitche opened #342 "defined behaves differently in different implementations"
The following test case:
[code]
fails on JS and Python, but succeeds on Golang.  The test case demonstrates the expected behavior, though: a variable defined with `$let` should be visible to `defined`. I think the issue is that in the JS and Python implementations, the `context` variable that is being referred to in the implementation of `defined` is the original, top-level `context` to which the

[2020-02-03 18:44] djmitche commented on #341
Let's solve #342 before documenting this!

[2020-02-03 19:07] djmitche opened #343 "fromNow builtin behaves differently in different languages"
[code]

fails on JS and Python and succeeds on Go.  This is similar to #342 and will probably have a similar solution.  @Nicrii if it's easy to fix both at once, that'd be cool, otherwise I'm happy to fix this up following the approach you choose for #342.

[2020-02-26 01:55] owlishDeveloper commented on #342
Can you tell us more about the practical problem that's behind this test case? I'm asking because one way of going about checking whether a variable is defined would be to use the concept of `truthy`/`falsy`, as in javascript language:

[code]

as opposed to using `defined` built-in.... but maybe I am missing something?

[2020-02-26 02:02] owlishDeveloper commented on #343
I have a question that is similar to the one I left in #342 - can you tell us more about the practical problem you are trying to solve? I am asking because the `fromNow` built-in accepts 2 arguments: the distance (`str` argument - in this case it's `1 day`) and the optional starting point (`reference` argument) - if you do

[code]
as opposed to defining a variable, the test case will pass. So I am

[2020-02-26 02:21] owlishDeveloper commented on #342
ok I went back down the issues and PRs, makes sense now!

[2020-03-04 23:43] owlishDeveloper commented on #244
Fixed https://github.com/taskcluster/json-e/pull/340

[2020-03-04 23:43] #244 closed

[2020-03-11 21:18] owlishDeveloper commented on #158
The above fix did not cover all the test cases, so I re-open this. The test cases that should be covered:

[code]

[2020-03-18 21:27] djmitche commented on #342
@Nicrii fixed this in #345.

[2020-03-18 21:27] #342 closed

[2020-03-18 21:27] djmitche commented on #343
@Nicrii fixed this in #345

[2020-03-18 21:27] #343 closed

[2020-03-19 13:47] the-question opened #354 "Functions call does not work in v4.x"
Reproduction in Playground:
https://json-e.js.org/#Playground/%7B%7D&%7B%24eval%3A%20'max(3%2C%202)'%7D

[2020-03-19 13:49] djmitche commented on #354
[code]

[2020-03-19 13:50] the-question commented on #354
The problem seems to come from https://github.com/taskcluster/json-e/blob/master/src/interpreter.js#L12 where `e.constructor.name` returns an empty string

[2020-03-19 13:55] djmitche commented on #354
I see this working on master, actually (see test case PR).  It appears it's not working in the playground perhaps because the playground is running a different version?  Do you see this on a checkout of v4.0.1 or master?

[2020-03-19 13:56] the-question commented on #354
I have this problem on v4.0.1, I did not test it against master

[2020-03-19 14:03] djmitche commented on #354
Hm, I've been unable to reproduce.  Can you show a code snippet that reproduces?

[2020-03-19 14:36] the-question commented on #354
On the website's Playground, I get an error in the result with:
[code]

I don't have the error in NodeJS. It also seems I don't have the error when webpack builds it in dev mode. But I do have the error when webpack build in production mode.
I made a really dirty CodeSandbox: https://codesandbox.io/s/goofy-shape-pi3q0
To reproduce, you can:
- export the ZIP
- `npm install`
- `npm run build` to bui

[2020-03-19 15:24] the-question commented on #354
@djmitche I found out that Webpack get's rid of constructor's name in production mode. I created #356  to replace usage of `constructor.name` with a manually set property `constructorName`. It's slightly less elegant than using the constructor's name but at least it works consistently. Could you review this PR please?

[2020-03-23 20:40] #341 closed

[2020-03-30 18:22] marco-c opened #357 "Installation fails with Python 3.8 and pip 20.0.2 unless `--no-use-pep517` is used"
`python -m pip install --user json-e` fails with:
[code]

[2020-04-06 13:02] djmitche commented on #357
Any recommended fix for this?  Is this a common Python gotcha?

[2020-04-07 00:13] marco-c commented on #357
It's actually a fault of Debian's pip package: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=954256.

[2020-04-07 00:13] #357 closed

[2020-04-07 18:24] the-question commented on #354
@djmitche Anything I could do to help move this forward? This is currently a blocker for me to upgrade to 4.x

[2020-04-16 18:32] #354 closed

[2020-05-19 20:37] noahlaux commented on #257
alternatively you could use a merge to achieve the same thing

[code]

[2020-05-19 20:48] djmitche commented on #257
That's true!  But @Callek's point about determinism is a good one.  It'd be tempting to write things like
[code]
on the assumption that the arms of the match are evaluated in order.  But they aren't.  I think $match is deterministic about the order (worth checking!) but that order may not be what the user expects.

[2020-05-19 20:49] djmitche commented on #257
Also, $merge only allows objects, so `low`, `very-low`, etc. wouldn't be allowed.

[2020-05-20 07:38] noahlaux commented on #257
Yes I agree with your point! In this case I think, as previously suggested, `$switch` is a better option.

[2020-05-20 12:21] djmitche commented on #257
Any chance you want to implement it? :)

[2020-05-28 18:42] noahlaux commented on #257
Ooops sorry @djmitche I didn't see this before now :(

So I looked briefly into the code base and wanted to start by defining the specifications. I more or less took the `$match` operator and justified it, but I had to take some maybe controversial decisions, mainly that no matches does exclude the keys completely in objects and arrays in opposition to return `null`. I think it makes sense so it o

[2020-05-28 21:16] djmitche commented on #257
Nice!  Starting with specs is the way to go.  This looks good!  Just one issue: ".., pick first' is going to be problematic, since order of object keys is not defined in general, so there's no notion of "first".  In order to avoid ambiguity, I think we need to fail with an error in cases where multiple options evaluate to something truthy.

[2020-05-28 21:21] noahlaux commented on #257
hmm, ok, I made an implementation already and it's a-ok for python and JS, but go is not loving me in terms of object keys as you mention

It goes like this for the first test:

[code]

[code]

Now my GO skills are not completely stellar, but isn't there a way to get the keys on order in GO. I know maps are unordered, but maybe in another way?

[2020-05-28 21:23] noahlaux commented on #257
or maybe you're right, we should fail 🤔

[2020-05-28 21:34] djmitche commented on #257
One of the features I like about Go (and Rust, too) is that it actually randomizes order of maps differently on each run.  That helps ensure you don't make mistakes like assuming the ordering is one way or another :)

[2020-05-28 21:42] noahlaux commented on #257
Aight, I'll make it to fail in case of multiple matches

[2020-05-28 21:50] noahlaux commented on #257
after some sleep though 💤, DK is approaching midnight

[2020-05-28 22:01] djmitche commented on #257
:wave: one of the original authors (Jonas) is in DK :)

[2020-05-28 22:32] noahlaux commented on #257
ah nice!

I couldn't sleep just yet, so prepared a little. Will clean up tomorrow an make a proper PR https://github.com/taskcluster/json-e/compare/master...noahlaux:feature-switch?expand=1

[2020-05-30 06:24] noahlaux commented on #257
Well, it seems like Santa came early, and we have a switch🎅 Maybe this issue should be closed?

[2020-05-30 13:08] djmitche commented on #257
Indeed!

Thank you for your work on this!  Since you are actively using JSON-e outside of Taskcluster, it would be great to have you watch the repo and offer your perspective on issues (and of course make PRs where you feel that's useful to you!).  It's difficult to build a "general" tool like JSON-e that is used for a specific purpose within an organization, without making the tool too purpose-sp

[2020-05-30 13:08] #257 closed

[2020-05-30 21:45] noahlaux commented on #257
Wow that'd be an honor and I'd love to as I have many ideas how to improve!

I initially stumbled upon JSON-e after I made my own attempt with almost identical approach and syntax, composing data from the outside and in. I went through the interwebs and found quite a few, with interesting approaches, but not really matching my criteria. I wanted it to be powerful (with generators, logic etc), but

[2020-06-02 14:01] djmitche commented on #257
That is really cool -- thanks for the update!

[2020-07-02 05:07] liaogz82 opened #360 "Run as sh commands in jenkinsfile"
Hi. is there a way to run this as an sh command in Jenkinsfile?

[2020-07-02 12:25] djmitche commented on #360
You would need to build an executable in your language of choice, but that should be fairly simple.  For example, you might write a Go program that parses its args as JSON files, with the first being the template and the second being the context.  Or you might write a Python script that parses its arg as YAML and reads the template on stdin, etc.  In any case it shouldn't be more than a few dozen

[2020-07-02 12:25] #360 closed

[2020-07-14 15:22] klahnakoski opened #361 "Too many "DeprecationWarning: invalid escape sequence""
The Treeherder logs all start with lines like this:

    /app/.heroku/python/lib/python3.7/site-packages/jsone/render.py:74: DeprecationWarning: invalid escape sequence \$

please fix these escape sequences

[2020-07-14 15:43] djmitche commented on #361
[code]

[2020-07-14 16:33] #361 closed

[2020-07-28 20:38] djmitche opened #365 "Change master to main"
Move development from the `master` branch to `main`.

[2020-08-07 18:28] milescrabill commented on #365
done

[2020-08-07 18:28] #365 closed

[2020-08-18 22:14] noahlaux opened #368 "New feature: `split`"
# Split

This issue suggest to create a builtin `split` functionality as available in many languages, and is not possible using any other (or combination of) exciting builtins.

Splitting on strings with a delimiter is the most obvious, but this suggestion also give a take on splitting list values and further justify the potential use cases.

Finally there's a [specification](#specification) for t

[2020-08-20 14:33] djmitche commented on #368
Thank you for the thorough post!

After some thought, my reactions are pretty concise:

 * `split` on strings seems like a great addition -- let's do it
 * `split` with regular expressions is also attractive, but we have avoided embedding regular expressions in JSON-e since each base-language's implementation of regexps is a little different.  See #331.
 * If we have `split`, we should probably al

[2020-08-20 19:24] noahlaux opened #370 "New feature: `join`"
A list `join` functionality (together with #369 `split`) will give superpowers when composing with lists.

## Usage

[code]

## Specification

[code]

[2020-08-20 19:53] noahlaux commented on #368
I added PRs for the [split](#369) and [join](#371) features

[2020-08-23 21:19] djmitche opened #372 "use tox for Python testing"
`python setup.py test` now recommends using tox, so let's get that set up.

[2020-08-24 16:26] #372 closed

[2020-08-27 14:18] djmitche commented on #370
Released in v4.3.0

[2020-08-27 14:18] #370 closed

[2020-08-27 14:18] djmitche commented on #368
Released in v4.3.0

[2020-08-27 14:18] #368 closed

[2020-09-25 09:49] noahlaux opened #380 "`json-e.org` is down"
Is seems like the js assets on `gh-pages` from the latest build are broken as the site doesn't work and there's a JS error in the console.

[2020-09-25 15:00] djmitche commented on #380
`git blame` blames 4097892ef98c84efa66bfe6c4010781ed8bef898

[2020-09-25 15:14] djmitche commented on #380
It looks like
[code]
confuses https://github.com/jonschlinkert/sections, which doesn't realize it's contained in a literal block.  That's pretty lame!  But that library appears totally unmaintained, so perhaps there's no sense in fixing it.  The `markdown` library can parse the README correctly, but it doesn't give any positions in the original text, so no way to extract the markdown text for each

[2020-09-25 16:37] #380 closed

[2020-09-25 16:37] djmitche commented on #380
Should be back up and running shortly..

[2020-09-25 17:14] djmitche commented on #380
(confirmed)

[2020-09-26 12:12] noahlaux opened #382 "json-schema and snippets"
Hi guys,

I got tired of compiler errors and thought about if it was possible to describe the operators in a json-schema to get real time validation in supported IDEs.

it proved quite possible and I tried to create most of the operators and even created some snippets for vs code. so you can write stuff like `let` or `if` and it will provide you with a couple of snippet examples.

Furthermore, you

[2020-09-27 18:47] djmitche commented on #382
Wow!  This seems really cool!  I don't use VS Code or any of those fancy-pants IDEs.  Not judging, but it means I don't know how they work :)

From what you've written, it seems that this is a JSON-schema which can be used to validate JSON-e but has additional bits that IDEs can use to help -- snippets, descriptions, auto-completion, etc.

So a few questions:

1. Is that about right?
1. Is this us

[2020-09-27 21:56] noahlaux commented on #382
1. It's about right :)
2.
    Fx in VScode (and many other IDEs) you have automatic "help" (descriptions on fields, help for valid values, snippets, realtime validation) using JSON schemes. All those from https://www.schemastore.org/json/ are built-in, and then extensions can register schemas for the filetypes they cover. The snippets I provided are VScode specific. I would also maybe if going for

[2020-09-28 16:19] djmitche commented on #382
Taskcluster uses loads of JSON schema, so 4.i is not a problem (in fact, Mozilla is [supporting Ajv development](https://www.poberezkin.com/posts/2020-08-14-ajv-json-validator-mozilla-open-source-grant-openjs-foundation.html), as it's used quite a lot here).

I wonder if we could incorporate the testing into specification.yml?  Anything without `error` should pass the schema validation.  We could

[2020-10-05 17:07] imbstack commented on #382
@noahlaux are you planning on working on this yourself or would it be helpful for me to take a try at it sometime relatively soon?

[2020-10-12 22:00] djmitche opened #384 "break laguages into subdirectories"
It's kind of cool that JS, Python, and Go (and soon rust) can co-exist in a single git repository, but it's getting pretty confusing.  Let's break those out into subdirectories.  For go, we can leave a stub in that calls into the sub-package.

[2020-12-10 15:16] tg44 opened #385 "Using the whole context in map"
Hy!

I have a json from a service like this;
[code]

I want to "select" the outer key, or the inner Device key. I have no idea what is the outer key.

What I tried so far is;
[code]
and going further;
[code]
Based on this I can list the keys under `a`, but I want to list the keys under the context.
Something like:
[code]

My other idea was somehow "wildcard" out the key and read the `Device`, with

[2020-12-11 01:02] djmitche commented on #385
This problem is a little hard to solve in most languages, it seems.  Is there a language where there's a natural way to do this?  Perhaps we could copy its approach.

I'm not sure how you're defining `identity()` -- does it return the context as an object?

It looks like the definition of $flatten you're suggesting is what other languages (Python, JS, at least) call `values`?

[code]

As for `$key

[2020-12-11 11:29] tg44 commented on #385
In scala we have a function called identity which is kinda `def identity[A](a: A): A = a`, and it is "useful" in `List(true, false).forall(identity)` situations. (Where forall expects an `A => Boolean` function.)

I think giving back the whole context as-is for further transformation is not a bad idea in general. So `identity()` or `context()` or whatever we name it could simply paste the context

[2020-12-11 14:42] djmitche commented on #385
Right now, `context` is always an object, and in fact it's sort of a synthetic object in that it's composed of values provided by layers of $let, the context passed to `render`, and the built-in context values.  So `context` would always return something huge and you'd need to filter out `min` and `max` and `fromNow` and any other context values we added later.  I'm not especially convinced that's

[2020-12-11 14:47] djmitche commented on #385
In a way, `context()` as described is similar to Python's `locals()`, which is seldom-used and probably a source of bugs when it is used.  And it also makes some optimizations hard, as it's raising something the compiler should be able to reason about (for example, to drop unused values) into runtime data (so those values can't be dropped).

Thinking further on this, I expect you're interested in

[2020-12-11 16:35] tg44 commented on #385
I use context here as the examples uses it like the [string interpolation](https://github.com/taskcluster/json-e#string-interpolation). Without any implementation details. I think we should somehow refer the "data-input" as a whole.

As I understand there are right now two inputs to the `jsone` function, the template/transformer and the context/data. I want to refer the context/data without the ne

[2020-12-11 17:19] djmitche commented on #385
I don't think this makes sense.  Context is the current set of in-scope variables.  It is, by definition, a key/value shaped thing.  The expression evaluator uses it to look up values when it sees identifiers.  And operators like $let and $map generate child contexts with different variables.

I think this is the right approach -- it defines a variable (in context) named `ZbReceived`.

I see that

[2020-12-15 11:34] tg44 commented on #385
Yes, I'm totally dumb sometimes 👍

Right now it worked, bcs the datasource was configurable, but it was pure luck on my side... My other solution would be sth like: `jsone(template, {_originalData: input, ...input})` in the caller side, and document this to the users, which is not really nice but probably a not too bad solution...

I still don't fully understand why it would be so strange to expos

[2021-02-12 15:44] djmitche opened #388 "[tests] test some interpolation edge-cases"
* unicode characters containing `$` and even `${` embedded in utf-8
* unicode characters right before `${` and `$${`
* unterminated `${`

I haven't thought too hard about the unicode questions, so maybe they're nonsense.  The idea is to test cases where utf-8 encoding might break scanning byte-by-byte.

[2021-02-12 15:45] djmitche opened #389 "[tests] more tests for some $operators"
These are some missing test cases noted while we were building the rust implementation:

* $let without in
* $let with empty string key
* $sort of very large integers
* unexpected trailing characters in $eval
* `{$$foo, $$bar}`

[2021-02-12 15:46] djmitche opened #390 "[tests] index and slice strings with multibyte utf-8"
The idea is to catch cases where "cheating" by using byte offsets produces errors or results that differ between languages.

[2021-02-12 15:49] djmitche opened #391 "[tests] test for division by zero"
This produces a NaN value in JS, at least -- that's not good, as NaN isn't a valid JSON value.  Let's make sure division by zero is always an error.

[2021-02-12 15:56] djmitche opened #392 "[rust] enforce that rust implementation produces matching errors"
Currently the value of the `error: ..` property in `specification.yml` is ignored in the Rust implementation, so the tests only assert that an error occurs, not that the message matches.

Let's fix that and make those error messages match.

[2021-02-12 15:57] #118 closed

[2021-02-12 15:58] djmitche opened #393 "[golang] enforce that error messages match"
Currently the value of the `error: ..` property in `specification.yml` is ignored in the Go implementation, so the tests only assert that an error occurs, not that the message matches.

Let's fix that and make those error messages match.

[2021-02-12 16:00] djmitche opened #394 "[tests] add more tests for fromNow"
In `specification.yml`, we should have a lot more tests for both `fromNow()` and `$fromNow`: case differences, whitespace, ordering of components, abbreviations, years, and months.

[2021-02-12 16:02] djmitche opened #395 "[tests] test stringification"
Test `str(..)` of floating-point numbers and of deletion markers (if the latter is possible).

Update the docs to indicate that `str()` of an array is not allowed.

[2021-02-12 16:03] djmitche opened #396 "add some missing documentation"
* doc the number builtin
* doc that `$sort` sorts by string by default
* docs for $map and all its permutations
* document that the number builtin only takes strings in Go (the most restrictive of the implementations) and achieve consistency across implementations

[2021-02-12 16:04] djmitche opened #397 "Avoid unnecessary allocation in checking operator properties"
The `check_operator_properties` function allocates on every call, but in many cases that allocation is unnecessary.

[2021-02-12 16:05] djmitche opened #398 "Improve efficiency of interpolate"
The Rust implementation of `interpolate` is probably very slow right now -- let's benchmark that and try to improve it.  This matters in practice because every string in a template is interpolated, even if it does not contain `${..}`.

[2021-03-08 22:33] #289 closed

[2021-03-08 22:33] djmitche commented on #289
We are Rusty!

[2021-03-08 23:13] djmitche opened #401 "Split languages into subdirectories"
The JS and Rust implementations both hide their source in `src/`. Python's is under `jsone`. Golang is just in the root.

Let's move that around so that the language name is the top-level directory in the repo.  That will require some sleight-of-hand to keep Go compatibility, but shouldn't be too hard.

[2021-03-12 18:51] #401 closed

[2021-04-28 17:59] git-developer opened #408 "Reference the complete context of a scalar type"
I have a use case where the context is not provided as a JSON object or array, but as a number.
I'd like to transform the number using an `$eval` statement, e.g.:

* Context: `-12.34`
* Template: `$eval: '0 - ${.}'`
* Result: `12.34`

I didn't find a syntax to reference the complete context. Is there a way to to that?

[2021-04-28 18:16] djmitche commented on #408
The intent is that the context always be an object.  In cases where only one value is required, that would be wrapped, e.g., `{"number": -12.34}`.  The reason for this is that the context is a set of variables, and therefore must have a key/value form.  I suspect that the JS implementation allows a non-object context, and maybe a few others.  I know the Rust implementation does not, though.

So, I

[2021-04-28 18:23] git-developer commented on #408
Thanks for your fast response.

Unfortunately, your suggestion does not apply to my use case where the context is provided via MQTT and directly handed over as context to json-e. But since you clearly say that an object is expected by json-e, I guess I have to look for an alternative solution.

This issue may be closed when the context is required to be an object.

[2021-04-28 19:59] djmitche commented on #408
Could the thing wrapping the MQTT create a context with `{"payload": <thing from mqtt>}`?

[2021-04-29 04:45] git-developer commented on #408
I've been looking for a simple MQTT-to-MQTT adapter and found [mqtt-transformer](https://github.com/tg44/mqtt-transformer) which delegates the transformation part to json-e. So for my use case of receiving a scalar value (number, string), either json-e or the mqtt-transformer would have to be extended. json-e was my first try, so now I'll head over to mqtt-transformer.

[2021-05-03 15:05] #408 closed

[2021-05-17 16:28] #158 closed

[2021-08-13 23:40] jwhitlock opened #422 "Rust: build breaks on building lexical-core 0.7.4"
The rust build (using ``rust:latest``) is breaking when building [lexical-core](https://github.com/Alexhuszagh/rust-lexical/), with errors such as:

[code]

We're on lexical-core 0.7.4. The [changelog](https://github.com/Alexhuszagh/rust-lexical/blob/master/lexical-core/CHANGELOG) mentions "Fixed issue with `integer::BITS` conflicting with new compilers."

[2021-08-26 09:00] coreyborad opened #425 "Object Property Access problem"
I have a template on
`{
  "$eval":"Device.WiFi.Radio.0.Enable"
}`

also my context is

`{
	"Device":{
  	"WiFi":{
    	"Radio":{
				"0":{
        	"Enable":123
        }
      }
    }
  }
}`

but would get error msg
`SyntaxError: Found: 0 token, expected one of: identifier`

I think the '0' has been set on "Number" type not "Identifier" type,
Is there any solutions?

[2021-08-27 23:38] coreyborad commented on #425
@jwhitlock thanks, it's work now

[2021-08-27 23:38] #425 closed

[2021-09-10 18:51] escapewindow opened #426 "enhancement: infix error messages could use more context"
`scriptworker.exceptions.CoTError: CoTError('JSON-e error while rebuilding scriptworker:parent task definition: InterpreterError at template.tasks[0].repoUrl: infix: . expects objects')`

This error tells me that we're trying to use a non-object in a template that expects objects, but that doesn't help me determine a) what context non-object is it using, and b) where is `.` ?

This error appears t

[2021-11-03 15:56] sroertgen opened #428 ""@" in key raises Template Error (python)"
Hello there!

I have a JSON-LD document, which contains a key `@context`.
The `@` leads to the following error:

`jsone.shared.TemplateError: TemplateError: top level keys of context must follow /[a-zA-Z_][a-zA-Z0-9_]*/`

Would it be a problem to include the `@` here?

https://github.com/taskcluster/json-e/blob/6d9a4a693d3ee7f090e12b28f0ed4c2f96fc60de/py/jsone/__init__.py#L8

The `@context` key is

[2021-11-04 15:08] djmitche opened #430 "Move to a new Github org"
This package is used by more than just Taskcluster.

Let's move it to `https://github.com/json-e/json-e` where we can manage ownership independently of Mozilla.  I think that means:

 * Create the new org
 * Add ownership to some Mozilla folks
 * Transfer the repo to the new org

We'll need to do some work to point https://json-e.js.org/ to the new GH pages, but we can sort that out.

[2021-11-08 21:34] jwhitlock commented on #430
Thanks for setting up https://github.com/json-e, @djmitche .

One issue @petemoore brought up was that the Go install package is tied to the repository URL. Does anyone have experience moving a Go package?

Looking at https://github.com/taskcluster/json-e/blob/main/RELEASING.md, I believe the others (JS, Python, Rust) can be updated by changing files after moving the repository.

[2021-11-08 22:54] djmitche commented on #430
So, there are three possibilities for the Go package that I can think of:
 * Move it, and leave the old version behind, with a doc update
 * Maybe Go will follow the GitHub redirects that are put in place when a repo is moved?
 * We could replace the old repo with "stubs" that just import and re-export names from the latest version of the new repo.

The third option sounds attractive, but it's rea

[2021-11-08 23:16] djmitche commented on #430
I can confirm that go does not follow the redirects.

[2021-11-08 23:24] djmitche commented on #430
So, here's what I think we should do:
 * Move the repo
 * Immediately fork the new location back to the old location
 * Update https://github.com/taskcluster/json-e/blob/main/jsone.go to import from the new location and update the README to contain only a note about the new location
 * Make a new patch-version tag at the old location
 * Verify that appears on pkg.go.dev
 * Update all references (l

[2021-11-08 23:32] djmitche commented on #430
Oh, I appear to have misunderstood that - https://json-e.github.io/_testing/ works fine.  So, I think we'll just need to make a js.org PR.

When should we do all of this?

[2021-11-08 23:37] jwhitlock commented on #430
I think we can transfer the repository when @petemoore has a chance to weigh in on the Go options. I'm hopeful we'll start that this week.

[2021-11-11 21:57] jwhitlock commented on #430
I talked to @petemoore, he didn't have a particular Go strategy in mind, but trusts that we can figure it out. This package doesn't appear on pkg.go.dev, so [adding there](https://go.dev/about#adding-a-package) may be a good future strategy.

@djmitche - ready to move?

[2021-11-12 03:45] djmitche commented on #430
It does exist :)

https://pkg.go.dev/github.com/taskcluster/json-e

Let's plan to do this in the US afternoon Friday?  Do you want to ping on Matrix me around your noontime?

[2021-11-12 18:44] jwhitlock commented on #430
* [x] Moved the repo to https://github.com/json-e/json-e
* [x] Forked back to https://github.com/taskcluster/json-e

[2021-11-12 19:22] djmitche opened #433 "Use new icon in docs site"
![jsone](https://user-images.githubusercontent.com/28673/141523264-e5ca6984-49c8-4aac-8013-6cea9e615aa5.png)

It's five minutes with GIMP, but it's not bad :)

[2021-11-16 03:30] djmitche commented on #430
CI is up and running!

Now I just need to make a 4.4.3 release with the new location..

[2021-11-17 03:14] djmitche commented on #430
OK, I published 4.4.3!  We're done here :)

[2021-11-17 03:14] #430 closed

[2021-11-19 14:37] sroertgen commented on #428
Thanks for the explanation. Will close this then.

[2021-11-19 14:37] #428 closed

[2021-12-09 13:54] djmitche commented on #433
closed in #434

[2021-12-09 13:54] #433 closed

[2022-01-22 19:28] djmitche commented on #396
I'll work on this once #436 is done.

[2022-01-31 19:19] #396 closed

[2022-04-15 19:12] bollwyvl opened #443 "Distribute python wheels on PyPI"
## Elevator Pitch
It would be lovely if there were canonical `.whl` packages along with the `.tar.gz` files on PyPI.

## Use Case
My particular interest: wheels (specifically ones ending in `py3-none-any.whl`) are required for [pyodide](https://github.com/pyodide/pyodide)... and could even be used to deliver an in-browser sandbox for pure python stacks like json-e's.

## Proposal
- where someone/s

[2022-04-15 20:15] djmitche commented on #443
This sounds like something we'd be happy to do.  Any chance you want to make a PR?  Otherwise I can plan to work on this later.

[2022-05-28 01:09] jviotti opened #446 "Standardize the JSON-e templating language"
Hey there!

Are there any plans to attempt to standardize the JSON-e templating language? Doing so would encourage more adhering third-party implementations.

For example, I'm particularly interested on a C++ implementation. While the language documentation is clear, I'm concerned the language itself might change without any versioning attached to it, rendering third party implementations suddenly

[2022-05-28 01:11] djmitche commented on #446
Hm, what would that look like?  The spec is pretty good but I think anyone from a language-standards background would find it lacking and ambiguous in some important spots.

[2022-05-28 15:56] jviotti commented on #446
Clarity is in place. My concern is mostly versioning. There is no concept around versioning the JSON-e language itself (independently from its main implementations), and so there no guarantees that JSON-e will just change out of the sudden, rendering third-party implementations incompatible.

[2022-05-30 16:15] djmitche commented on #446
At the moment, the language is versioned along with the implementations.  Which means that if there's an incompatible change, that would be a major version.  For example, version 4 introduced short-circuiting in || and &&.  Practically that's hardly a breaking change, since it only means previously-invalid templates are now valid, while results for all valid templates are unchanged.

I think a thi

[2022-05-30 17:19] jviotti commented on #446
@djmitche Thanks a lot for the encouraging response!

That makes sense. I wonder if that sentence is worth documenting very clearly on the README.

If I do end up doing this at some point in the future, would there be interest on maintaining a 100% JSON-based language-independent test suite all implementations can share? Something like https://github.com/json-schema-org/json-schema-spec for JSON S

[2022-05-30 21:46] djmitche commented on #446
I think `specification.yaml` is close to that?

[2022-05-31 01:18] jviotti commented on #446
Ah, I had totally missed that file. I guess the name is a bit misleading. Thanks for all the guidance. Feel free to close this issue if you want!

[2022-05-31 01:29] djmitche commented on #446
I'll keep it open to update the README.  But, yeah, that's the "definitive" language reference.  The bit that isn't finished is related to error messages -- we made an effort to standardize them but didn't finish.  Still, all supported languages do the same thing for all of those 1000+ (if I remember correctly) cases.

If you do embark on a C++ implementation, and it's not in this repo, please fee

[2022-06-05 17:02] #443 closed

[2022-06-05 17:32] #446 closed

[2022-06-21 23:10] escapewindow opened #450 "startswith support?"
A feature we'd like to implement in taskgraph is the ability to specify certain branch patterns as special, e.g. `refs/heads/releases_v*` as a release branch pattern. We can hardcode this, but we'd like to do so in a generic way, e.g.

[code]

Because this can differ by repo, and because the patterns don't always match, using the standard pattern of `head_branch[:21] == "refs/heads/releases_v"` is

[2022-06-21 23:52] escapewindow commented on #450
Ah, we can do `head_branch[:len(pattern)] == pattern`

[2022-06-21 23:52] #450 closed

[2022-08-20 00:36] jviotti opened #452 "Built using JSON-e: Alterschema"
In case you ever want to collect a list of projects using JSON-e in production, I recently built Alterschema (https://alterschema.sourcemeta.com), a tool to upgrade JSON Schema definitions across versions of the specification.

What is the most interesting, is that Alterschema specifies upgrades as a set of declarative transformation rules written in JSON Schema itself and JSON-e. See https://gith

[2022-08-21 16:48] djmitche commented on #452
Oh, very cool!  Taskcluster uses JSON-schema pretty extensively, and ensuring version compatibility is definitely tricky.

[2022-08-21 16:51] djmitche commented on #452
I proposed adding this to the README in https://github.com/json-e/json-e/pull/453

[2022-08-21 16:51] #452 closed

[2022-10-14 18:59] ahal opened #454 "Support an `elif` operator"
I've seen many JSON-e templates get massive and extremely difficult to read (specifically in Taskcluster's `.taskcluster.yml` files). One reason for this is the lack of an `elif` or `elsif` clause which results in patterns like:
[code]

Each arm adds another level of indentation and therefore makes the overall file more difficult to understand. I believe an `elif` or `elsif` clause would go a long

[2022-10-16 15:19] djmitche commented on #454
This is a cool idea.  Can you spell out what it might look like?  How does it compare to $match and $switch?

[2022-10-17 13:39] ahal commented on #454
I think `$elif` would look like:
[code]

I'll be totally honest that I didn't know about `$switch`! If we used that instead of multiple nested `$if/else` clauses I think it would solve most of problems I outlined in the description. However it looks like `$switch` doesn't support a default arm, so AFAICT the only way to implement a default currently is via `$if/else`. If we needed a default value,

[2022-10-17 13:41] ahal commented on #454
Just to be clear, if a default arm on `$switch` is easier implementation wise, I think that would be an acceptable alternative to this.

[2022-10-17 21:44] djmitche commented on #454
In your example, note that you have two keys named `then`, and, if you had more than three branches, you'd have multiple `$elif` as well.

[2022-10-18 01:56] #454 closed

[2022-10-26 17:59] ahal opened #455 "Support a `default` arm in $switch statements"
This came out of discussion from issue #454 .

To step back a bit, the problem I'd like to solve is the fact that json-e templates tend to get a lot of indentation when you need to check multiple conditions in an $if statement, e.g:
[code]
Every possible value that needs to be checked requires another level of indentation. Dustin pointed out there is a `$switch` operator which would indeed help so

[2022-10-27 21:31] djmitche commented on #455
This sounds like a great proposal :D